<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>Fashion Bride</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#211F1F">
  <meta name="msapplication-navbutton-color" content="#211F1F">
  <meta name="apple-mobile-web-app-status-bar-style" content="#211F1F">
</head>

<body>

  ${require('../parts/header.html')}

  <main class="main">
    <div class="section not-found-section">
      <div class="page-title">aliquet scelerisque</div>
      <div class="container">
        <div class="breadcrumbs">
          <a href="javascript:void(0)">Главная</a>
          <span>Страница не найдена</span>
        </div>
      </div>
      <div class="not-found">
        <div class="container">
          <div class="not-found__wrapper">
            <h1 class="not-found__title">404</h1>
            <p class="not-found__sub-title">страница не найдена</p>
            <p class="not-found__text">Мы сожалеем, но страница, на которую Вы пытались перейти, не существует.</p>
            <p class="not-found__text">Пожалуйста, вернитесь на предыдущую страницу или на Главную.</p>
            <div class="not-found__btn-wrapper">
              <a href="javascript:void(0)">Назад</a>
              <a href="javascript:void(0)">На главную</a>
            </div>

          </div>
        </div>
      </div>


    </div>

  </main>
  ${require('../parts/footer.html')}

  <div class="overlay"></div>
  <div class="mfp-hide"></div>

</body>

</html>
