<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>Fashion Bride</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#211F1F">
  <meta name="msapplication-navbutton-color" content="#211F1F">
  <meta name="apple-mobile-web-app-status-bar-style" content="#211F1F">
</head>

<body>

  ${require('../parts/header.html')}
  <main class="main">
    <div class="section">
      <div class="page-title">aliquet scelerisque</div>
    </div>
    <div class="container">
      <div class="policy">
        <h1>ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</h1>
        <p>Команда Fashion Bride беспокоится об обеспечении безопасности данных своих клиентов. Именно поэтому мы
          составили
          настоящую Политику конфиденциальности, чтобы вы не беспокоились о том, что происходит с вашими персональными
          данными,
          которые вы предоставили нам для регистрации.
        </p>
        <p>Оставляя ваши данные в контактной форме на сайте, в социальных сетях и сторонних ресурсах, которые
          принадлежат компании
          Fashion Bride, вы предоставляете согласие на обработку всех введенных для регистрации данных с целью
          надлежащего
          предоставления Fashion Bride услуг региcстрации вас как клиента или соскателя вакансий. Надлежащее
          предоставление услуг
          Fashion Bride предусматривает передачу вашей информации подрядчикам Fashion Bride, административным лицам и
          органам,
          осуществляющим техническую организацию, администрирование и поддержку адресного пространства сети Интернет и
          сохранения
          информации на серверах, подключенных к сети Интернет.
        </p>
        <p>Оставляя свои контактные данные, вы также подтверждаете, что ознакомились с перечнем своих прав как субъекта
          данных
          согласно статье 8 Закона Украины «О защите персональных данных». Этот перечень доступен по ссылке:
          <a href="javascript:void(0)">http://zakon2.rada.gov.ua/laws/show/2297-17</a>.
        </p>
        <h2>1. СБОР ЛИЧНОЙ ИНФОРМАЦИИ</h2>
        <ol>
          <li>1.1. Во время запроса контактных данных мы просим вас сообщить необходимую личную информацию в объеме,
            который является
            необходимым для предоставления услуг. Мы оставляем за собой право потребовать предоставить дополнительную
            личную
            информацию в случае необходимости.
          </li>
          <li>1.2. Файлы cookie - когда вы заходите на наш сайт, мы отправляем один или несколько файлов cookie на ваш
            компьютер или
            другое устройство. Файлы cookie используются для того, чтобы повышать качество предоставляемых услуг:
            сохранять
            настройки пользователя.
          </li>
          <li>1.3. Информация о посещении - при доступе на сайт наши серверы автоматически записывают определенную
            информацию. Эти
            журналы сервера могут содержать такую информацию, как веб-запрос, IP-адрес, тип и язык браузера, дату и
            время запроса.
          </li>
          <li>1.4. Продажа услуг на партнерских сайтах - некоторые услуги, которые мы предлагаем, связаны с другими
            сайтами. Личная
            информация, которую вы предоставляете таким сайтам, может быть передана нам для предоставления этих услуг.
            Мы
            обрабатываем информацию такого рода в соответствии с настоящей политикой конфиденциальности.
          </li>
        </ol>
        <h2>2. ПРЕДОСТАВЛЕНИЕ ДОСТУПА К ИНФОРМАЦИИ</h2>
        <ol>
          <li>2.1. Мы предоставляем доступ к вашей личной информации другим лицам только при следующих ограниченных
            обстоятельствах:
          </li>
          <li>2.1.1. У нас есть на это ваше разрешение. Для передачи любой конфиденциальной информации нам требуется
            ваше явное
            согласие.
          </li>
          <li>2.1.2. У нас есть достаточные основания полагать, что доступ, использование, сохранение или раскрытие
            такой информации
            необходимо для:
          </li>
          <li>2.1.3.1. соблюдения законодательства Украины, в том числе предоставления информации по требованию
            физических и
            юридических лиц, учреждений, организаций любой формы собственности или государственных органов, которые
            имеют право на
            получение такой информации согласно законодательству Украины;
          </li>
          <li>2.1.3.2. выявления и предотвращения мошеннических действий, а также решения проблем безопасности и
            устранения
            технических неисправностей;
          </li>
          <li>2.1.3.3. защиты от непосредственной угрозы правам, имуществу или безопасности компании Хостинг Украина, ее
            пользователей
            или общественности, в рамках законодательства Украины.
          </li>
        </ol>
        <h2>3. ЗАЩИТА ИНФОРМАЦИИ</h2>
        <ol>
          <li>3.1. Мы принимаем все необходимые меры для защиты данных от неавторизованного доступа, изменения,
            раскрытия или
            уничтожения. К этим мерам относятся, в частности, внутренняя проверка процессов сбора, хранения и обработки
            данных и мер
            безопасности, включая соответствующее шифрование и меры по обеспечению физической безопасности данных для
            предотвращения
            неавторизованного доступа к вашим данным.</li>
        </ol>
        <h2>4. ДОСТУП К ЛИЧНОЙ ИНФОРМАЦИИ И ЕЕ ОБНОВЛЕНИЕ</h2>
        <ol>
          <li>4.1. Мы делаем все от нас зависящее, чтобы предоставить вам доступ к вашим личным данным и либо исправить
            их, если они
            неверны, либо удалить по вашему запросу, если только их хранение не требуется законом или не обусловлено
            законными
            деловыми целями. Перед обработкой запросов мы просим пользователей подтвердить свою личность и информацию,
            которую они
            хотят получить, исправить или удалить.</li>
        </ol>
        <h2>5. ИЗМЕНЕНИЕ НАСТОЯЩЕЙ ПОЛИТИКИ КОНФИДЕНЦИАЛЬНОСТИ</h2>
        <ol>
          <li>5.1. Настоящая политика конфиденциальности может время от времени меняться. Изменения, вносимые в политику
            конфиденциальности, будут опубликованы на этой странице.</li>
        </ol>
      </div>
    </div>



    </div>

  </main>
  ${require('../parts/footer.html')}

  <div class="overlay"></div>
  <div class="mfp-hide"></div>

</body>

</html>
