<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>Fashion Bride</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#211F1F">
  <meta name="msapplication-navbutton-color" content="#211F1F">
  <meta name="apple-mobile-web-app-status-bar-style" content="#211F1F">
</head>

<body>

  ${require('../parts/header.html')}
  <main class="main">
    <div class="section catalog-section search">
      <div class="page-title">aliquet scelerisque</div>
      <div class="container">
        <div class="breadcrumbs">
          <a href="javascript:void(0)">Главная</a>
          <span>Результаты поиска</span>
        </div>
      </div>

      <div class="catalog-title__wrapper">
        <div class="container">
          <span class="catalog-title search">Результаты поиска «кружево»</span>
          <p class="catalog-descr">Найдено 0 товаров</p>
        </div>
      </div>
      <div class="search-inner">
        <b>К сожалению, по вашему запросу ничего не найдено</b>
        <p>Проверьте, пожалуйста, все ли написано верно, или попробуйте<br> найти необходимое в наших категориях:</p>
        <div class="search-links">
          <a href="javascript:void(0)">
            Свадебные платья
          </a>
          <a href="javascript:void(0)">
            Вечерние платья
          </a>
          <a href="javascript:void(0)">
            Аксессуары
          </a>
        </div>
      </div>

  </main>
  ${require('../parts/footer.html')}

  <div class="overlay"></div>
  <div class="mfp-hide"></div>

</body>

</html>
