<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex">
  <title>Fashion Bride</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#211F1F">
  <meta name="msapplication-navbutton-color" content="#211F1F">
  <meta name="apple-mobile-web-app-status-bar-style" content="#211F1F">
</head>

<body>

  <!-- ${require('../parts/header.html')} -->
  <main class="main">
    <div class="section">
      <div class="page-title">aliquet scelerisque</div>
    </div>

    <div class="section shop-main-section">
      <span>свадебный салон<br> Bridal Story</span>
      <div class="shop-pic shop-video">
        <div class="shop-item__labels">
        </div>
        <picture>
          <source media="(max-width: 480px)" srcset="../../images/pixel.webp"
            data-original="../../images/cat-main-mob.webp" class="lazy-web" type="image/webp">
          <source media="(max-width: 480px)" srcset="../../images/pixel.jpg"
            data-original="../../images/cat-main-mob.jpg" class="lazy-web" type="image/jpg">
          <source srcset="../../images/pixel.webp" data-original="../../images/cat-main.webp" class="lazy-web"
            type="image/webp">
          <source srcset="../../images/pixel.jpg" data-original="../../images/cat-main.jpg" class="lazy-web"
            type="image/jpg">
          <img src="../../images/pixel.jpg" data-original="../../images/cat-main.jpg" class="lazy" alt="">
        </picture>
        <video muted="" loop="" autoplay="" class="the-video">
          <source src="https://pictureperfectwigs.com/image/catalog/video/banner1desk.mp4" type="video/mp4">
        </video>
        <svg class="shop-video__play" width="60" height="60" viewBox="0 0 60 60" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <circle cx="30" cy="30" r="29.5" stroke="white" />
          <path
            d="M40.1407 31.9706L26.62 39.7638C25.4726 40.4245 24 39.6245 24 38.2925V22.7063C24 21.3765 25.4704 20.5743 26.62 21.2371L40.1407 29.0303C40.4017 29.1783 40.6187 29.3923 40.7696 29.6504C40.9205 29.9086 41 30.2019 41 30.5005C41 30.799 40.9205 31.0923 40.7696 31.3505C40.6187 31.6087 40.4017 31.8226 40.1407 31.9706Z"
            fill="white" />
        </svg>
      </div>
    </div>
    <div class="section shop-location-section">
      <div class="container">
        <span>свадебный салон Bridal Story</span>
        <div class="row">
          <div class="shop-location-map col-sm-6">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2564.250951126167!2d36.23715681594398!3d50.0066514271234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a0de82f233ab%3A0x32844c210b223697!2z0YPQuy4g0K_RgNC-0YHQu9Cw0LLQsCDQnNGD0LTRgNC-0LPQviwgNi84LCDQpdCw0YDRjNC60L7Qsiwg0KXQsNGA0YzQutC-0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgNjEwMDI!5e0!3m2!1sru!2sua!4v1642084822253!5m2!1sru!2sua"
              style="border:0;" allowfullscreen="" loading="lazy"></iframe>
          </div>
          <div class="shopp-location-contacts col-sm-6">
            <b>контакты</b>
            <span>г. Харьков<br>
              ул. Ярослава Мудрого, 6/8</span>
            <p>
              <a href="javascript:void(0)">
                +38 (050) 000 00 00
              </a>
              <a href="javascript:void(0)">
                +38 (067) 000 00 00
              </a>
            </p>
            <p>
              <a href="javascript:void(0)">
                +38 (050) 000 00 00
              </a>
              <a href="javascript:void(0)">
                +38 (067) 000 00 00
              </a>
            </p>
            <span>Пн-Вс 10:00 - 19:00</span>
            <div class="shopp-location-contacts-btn">
              <a href="javascript:void(0)">
                Хочу на онлайн примерку
              </a>
              <a href="javascript:void(0)">
                Записаться на примерку в салон
              </a>
            </div>
          </div>
        </div>


      </div>
    </div>

  </main>
  <!-- ${require('../parts/footer.html')} -->

  <div class="overlay"></div>
  <div class="mfp-hide"></div>

</body>

</html>
