<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <meta name="robots" content="noindex">
  <title>Fashion Bride</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#211F1F">
  <meta name="msapplication-navbutton-color" content="#211F1F">
  <meta name="apple-mobile-web-app-status-bar-style" content="#211F1F">
</head>

<body>

  ${require('../parts/header.html')}
  <main class="main">
    <div class="section">
      <div class="page-title">aliquet scelerisque</div>
    </div>
    <div class="section shops-section">
      <div class="container">
        <span class="shops-title">Салоны</span>
        <div class="shops-tabs tabs">
          <div class="shops-cities tabs-caption row">
            <div class="shops-cities-item tabs-caption-item active col-md-3 col-sm-4 col-xs-6"><span>Харьков</span>
            </div>
            <div class="shops-cities-item tabs-caption-item col-md-3 col-sm-4 col-xs-6"><span>Одесса</span></div>
            <div class="shops-cities-item tabs-caption-item col-md-3 col-sm-4 col-xs-6"><span>Запорожье</span>
            </div>
          </div>
          <div class="shops-list tabs-content">
            <div class="shops-item tabs-content-item active row">
              <div class="shop-item col-sm-6">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/shop-01.webp" class="lazy-web"
                    type="image/webp">
                  <source srcset="../../images/pixel.jpg" data-original="../../images/shop-01.jpg" class="lazy-web"
                    type="image/jpg">
                  <img src="../../images/pixel.jpg" data-original="../../images/shop-01.jpg" class="lazy" alt="">
                </picture>
                <div class="shop-item__about">
                  <span class="shop-item__about-title">Bridal Story</span>
                  <span class="shop-item__about-address">ул. Ярослава Мудрого, 6/8</span>
                  <span class="shop-item__about-tel">
                    <a href="javascript:void(0)">
                      +38 (050) 000 00 00
                    </a>
                    <a href="javascript:void(0)">
                      +38 (067) 000 00 00
                    </a>
                  </span>
                  <span class="shop-item__about-time">Пн-Вс 10:00 - 19:00</span>
                  <a href="javascript:void(0)" class="shop-item__about-more">
                    Подробнее
                  </a>
                  <a href="javascript:void(0)" class="shop-item__about-map">
                    Посмотреть на карте
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M4.5 13H3.5V15H4.5V13Z" fill="black" />
                      <path d="M4.5 9H3.5V11H4.5V9Z" fill="black" />
                      <path d="M3 11.5H1V12.5H3V11.5Z" fill="black" />
                      <path d="M7 11.5H5V12.5H7V11.5Z" fill="black" />
                      <path
                        d="M3.32897 5.03016L14.329 1.03016C14.4184 0.997614 14.5152 0.991255 14.6081 1.01183C14.701 1.0324 14.7861 1.07906 14.8534 1.14631C14.9207 1.21356 14.9674 1.29862 14.9881 1.3915C15.0087 1.48438 15.0024 1.58123 14.97 1.67066L10.97 12.6707C10.9354 12.7659 10.8727 12.8484 10.7902 12.9072C10.7077 12.966 10.6093 12.9985 10.508 13.0002H10.5C10.4 13.0002 10.3023 12.9702 10.2195 12.9142C10.1367 12.8581 10.0726 12.7785 10.0355 12.6857L8.11497 7.88466L3.31447 5.96466C3.22014 5.92723 3.13943 5.86198 3.08307 5.77758C3.02671 5.69318 2.99736 5.59363 2.99894 5.49215C3.00051 5.39068 3.03293 5.29208 3.09188 5.20947C3.15083 5.12686 3.23353 5.06415 3.32897 5.02966V5.03016ZM8.68597 7.03516L8.88497 7.11516L8.96447 7.31416L10.4775 11.0982L13.664 2.33616L4.90197 5.52216L8.68597 7.03516Z"
                        fill="black" />
                    </svg>

                  </a>
                </div>
              </div>

              <div class="shop-item col-sm-6">
                <picture>
                  <source srcset="../../images/pixel.webp" data-original="../../images/shop-02.webp" class="lazy-web"
                    type="image/webp">
                  <source srcset="../../images/pixel.jpg" data-original="../../images/shop-02.jpg" class="lazy-web"
                    type="image/jpg">
                  <img src="../../images/pixel.jpg" data-original="../../images/shop-02.jpg" class="lazy" alt="">
                </picture>
                <div class="shop-item__about">
                  <span class="shop-item__about-title">Dominiss</span>
                  <span class="shop-item__about-address">ул. Сумская, 59</span>
                  <span class="shop-item__about-tel">
                    <a href="javascript:void(0)">
                      +38 (050) 000 00 00
                    </a>
                    <a href="javascript:void(0)">
                      +38 (067) 000 00 00
                    </a>
                  </span>
                  <span class="shop-item__about-time">Пн-Вс 10:00 - 19:00</span>
                  <a href="javascript:void(0)" class="shop-item__about-more">
                    Подробнее
                  </a>
                  <a href="javascript:void(0)" class="shop-item__about-map">
                    Посмотреть на карте
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M4.5 13H3.5V15H4.5V13Z" fill="black" />
                      <path d="M4.5 9H3.5V11H4.5V9Z" fill="black" />
                      <path d="M3 11.5H1V12.5H3V11.5Z" fill="black" />
                      <path d="M7 11.5H5V12.5H7V11.5Z" fill="black" />
                      <path
                        d="M3.32897 5.03016L14.329 1.03016C14.4184 0.997614 14.5152 0.991255 14.6081 1.01183C14.701 1.0324 14.7861 1.07906 14.8534 1.14631C14.9207 1.21356 14.9674 1.29862 14.9881 1.3915C15.0087 1.48438 15.0024 1.58123 14.97 1.67066L10.97 12.6707C10.9354 12.7659 10.8727 12.8484 10.7902 12.9072C10.7077 12.966 10.6093 12.9985 10.508 13.0002H10.5C10.4 13.0002 10.3023 12.9702 10.2195 12.9142C10.1367 12.8581 10.0726 12.7785 10.0355 12.6857L8.11497 7.88466L3.31447 5.96466C3.22014 5.92723 3.13943 5.86198 3.08307 5.77758C3.02671 5.69318 2.99736 5.59363 2.99894 5.49215C3.00051 5.39068 3.03293 5.29208 3.09188 5.20947C3.15083 5.12686 3.23353 5.06415 3.32897 5.02966V5.03016ZM8.68597 7.03516L8.88497 7.11516L8.96447 7.31416L10.4775 11.0982L13.664 2.33616L4.90197 5.52216L8.68597 7.03516Z"
                        fill="black" />
                    </svg>

                  </a>
                </div>
              </div>


            </div>



            <div class="shops-item tabs-content-item">Одесса</div>
            <div class="shops-item tabs-content-item">Запорожье</div>
          </div>
        </div>
      </div>
    </div>

  </main>
  ${require('../parts/footer.html')}

  <div class="overlay"></div>
  <div class="mfp-hide"></div>

</body>

</html>
