<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <meta name="robots" content="noindex">
  <title>Fashion Bride</title>
  <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon.png" type="image/png">
  <meta name="theme-color" content="#211F1F">
  <meta name="msapplication-navbutton-color" content="#211F1F">
  <meta name="apple-mobile-web-app-status-bar-style" content="#211F1F">
</head>

<body>

  ${require('../parts/header-simple.html')}
  <main class="main">
    <div class="container">
      <div class="section success">
        <div class="success-wrapper">
          <h1 class="success-main-title">Заказ успешно оформлен!</h1>
          <span class="success-main-subtitle">
            В ближайшее время мы свяжемся с Вами. Копия заказа отправлена на Ваш электронный адрес.
          </span>
        </div>
        <div class="success-wrapper">
          <span class="success-title">Детали заказа:</span>
          <ul class="success-details">
            <li>
              <span>Номер заказа:</span>
              <span>85730967<span>
            </li>
            <li>
              <span>Количество:</span>
              <span>2 шт<span>
            </li>
            <li>
              <span>Ваши данные:</span>
              <span>Иванов Иван Иванович, 12589456s@gmail.com, +380632222222<span>
            </li>
            <li>
              <span>Адрес доставки:</span>
              <span>г. Харьков, доставка в отделение Новой почты №1 по адресу: ул. Блюхера, 132<span>
            </li>
            <li>
              <span>Способ доставки:</span>
              <span>Доставка на склад Новой почты<span>
            </li>
          </ul>
        </div>
        <div class="success-products">
          <span class="success-products-title">Корзина</span>
          <div class="success-products-inner">
            <div class="success-products-list">
              <div class="products-list">
                <div class="product-item">
                  <div class="product-item-pic">
                    <picture>
                      <source srcset="../../images/pixel.webp" data-original="../../images/product-01.webp"
                        class="lazy-web" type="image/webp">
                      <source srcset="../../images/pixel.jpg" data-original="../../images/product-01.jpg"
                        class="lazy-web" type="image/jpg">
                      <img src="../../images/pixel.jpg" data-original="../../images/product-01.jpg" class="lazy" alt="">
                    </picture>
                  </div>
                  <div class="product-item-about">
                    <a href="javascript:void(0)">DOMINISS</a>
                    <a href="javascript:void(0)">Greenwood платье свадебное 8o0</a>
                    <p class="characteristic">
                      <span>Размер:</span>
                      <span>XL</span>
                    </p>
                    <p class="characteristic">
                      <span>Цвет:</span>
                      <span>белый</span>
                    </p>
                  </div>
                </div>
                <div class="product-item">
                  <div class="product-item-pic">
                    <picture>
                      <source srcset="../../images/pixel.webp" data-original="../../images/product-02.webp"
                        class="lazy-web" type="image/webp">
                      <source srcset="../../images/pixel.jpg" data-original="../../images/product-02.jpg"
                        class="lazy-web" type="image/jpg">
                      <img src="../../images/pixel.jpg" data-original="../../images/product-02.jpg" class="lazy" alt="">
                    </picture>
                  </div>
                  <div class="product-item-about">
                    <a href="javascript:void(0)">DOMINISS</a>
                    <a href="javascript:void(0)">Greenwood платье свадебное 8o0</a>
                    <p class="characteristic">
                      <span>Размер:</span>
                      <span>XXL</span>
                    </p>
                    <p class="characteristic">
                      <span>Цвет:</span>
                      <span>белый</span>
                    </p>
                  </div>
                </div>
                <div class="product-item">
                  <div class="product-item-pic">
                    <picture>
                      <source srcset="../../images/pixel.webp" data-original="../../images/product-03.webp"
                        class="lazy-web" type="image/webp">
                      <source srcset="../../images/pixel.jpg" data-original="../../images/product-03.jpg"
                        class="lazy-web" type="image/jpg">
                      <img src="../../images/pixel.jpg" data-original="../../images/product-03.jpg" class="lazy" alt="">
                    </picture>
                  </div>
                  <div class="product-item-about">
                    <a href="javascript:void(0)">DOMINISS</a>
                    <a href="javascript:void(0)">Greenwood платье свадебное 8o0</a>
                    <p class="characteristic">
                      <span>Размер:</span>
                      <span>36EU</span>
                    </p>
                    <p class="characteristic">
                      <span>Цвет:</span>
                      <span>белый</span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="success-products-about">
              <ul>
                <li class="price">
                  <p>
                    <span>Стоимость заказа без&nbsp;скидки</span>
                    <span class="price-old">€ 100 000</span>
                  </p>
                  <p>
                    <span>Стоимость заказа со&nbsp;скидкой</span>
                    <span>€ 50 000</span>
                  </p>
                </li>
                <li>
                  <p>
                    <span>Скидка по промокоду</span>
                    <span>€ 500</span>
                  </p>
                </li>
                <li>
                  <p>
                    <span>Ваша экономия</span>
                    <span>€ 50 500</span>
                  </p>
                </li>
              </ul>
              <div class="total">
                <span>Итого к оплате</span>
                <span>€ 49 500</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <div class="overlay"></div>
  <div class="mfp-hide"></div>

</body>

</html>
