.video-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
  padding: 0 10px;
  @media (max-width: 991px) {
    justify-content: space-evenly;
  }
  @media (max-width: 767px) {
    display: block;
    margin-bottom: 25px;
    padding: 0;
    background: $bg-gray;
  }

  &.dress {
    background-color: $bg-gray;
    align-items: flex-end;
    @media (max-width: 991px) {
      flex-direction: column;
      align-items: center;
    }

    & .video-inner {
      width: 100%;
      max-width: 1264px;
      // height: 100%;
      // max-height: 892px;
      @media (max-width: 991px) {
        margin-bottom: 30px;
      }
    }
    & .video-about {
      margin-bottom: 1%;

      & li {
        margin-bottom: 38px;
      }
    }
  }
}

.video-inner {
  position: relative;
  width: 100%;
  max-width: 1264px;
  // height: 570px;
  cursor: pointer;
  overflow: hidden;
  &::before {
    content: "";
    display: block;
    padding-top: 56.25%;
  }
  @media (max-width: 767px) {
    // height: auto;
    margin-bottom: 30px;
  }
  & svg {
    position: absolute;
    top: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: box-shadow 0.3s;
    @media (max-width: 767px) {
      width: 50px;
      height: 50px;
    }
  }

  & picture {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  & svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  & video {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    display: none;
    width: auto;
    height: 100%;
  }
}

.video-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 636px;
  padding: 0 50px;
  @media (max-width: 991px) {
    width: 500px;
  }
  @media (max-width: 767px) {
    width: 100%;
    padding: 0;
  }

  & > span {
    display: block;
    width: 100%;
    max-width: 544px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(117, 117, 117, 0.3);
    font-family: $CormorantSC;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    @media (max-width: 1299px) {
      margin-bottom: 15px;
      padding-bottom: 15px;
      font-size: 18px;
      line-height: 22px;
    }
    @media (max-width: 767px) {
      margin-bottom: 25px;
      padding-bottom: 25px;
    }
  }
  & ul {
    @media (max-width: 767px) {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 40px;
    }
  }

  & li {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    & > div {
      margin: 0;
      font-family: $CormorantSC;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.03em;
      color: $black;
      @media (max-width: 1299px) {
        font-size: 16px;
        line-height: 19px;
      }
      p {
        text-transform: uppercase;
        margin-bottom: 0;
        span {
          font-size: 24px;
          line-height: 29px;
          text-transform: none;
          @media (max-width: 1299px) {
            font-size: 21px;
            line-height: 25px;
          }
        }
      }
      & > small {
        display: block;
        font-family: $default;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.03em;
        @media (max-width: 1299px) {
          font-size: 12px;
          line-height: 15px;
        }
      }
    }

    @media (max-width: 767px) {
      margin-bottom: 15px;
    }
    & i {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 36px;
      height: 42px;
      margin-right: 13px;
      @media (max-width: 1299px) {
        width: 27px;
        min-width: 27px;
        height: 37px;
      }
    }
  }
}
