.dresses-section {
  padding-top: 90px;
  padding-bottom: 90px;
  @media (max-width: 767px) {
    padding: 25px 0;
  }

  &.dress .main-dresses {
    &__pic {
    }
    &__about p {
      // background: #000;
    }
  }

  &.dress .main-dresses:nth-child(odd) {
    & .main-dresses__about {
      order: 1;
    }
  }
  &.dress .main-dresses:nth-child(even) {
    & .main-dresses__about {
      order: -1;
    }
  }

  &.brides {
    background: $bg-gray;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 120px;
    @media (max-width: 767px) {
      margin-bottom: 30px;
    }
    .main-dresses {
      &__pic {
        max-height: 900px;
      }
      &__about {
        & p {
        }
        & b {
          display: block;
          margin-bottom: 20px;
          font-size: 14px;
          line-height: 17px;
          text-align: center;
          letter-spacing: 0.03em;
          text-align: center;
          font-weight: 400;
          color: $dark-gray;
        }
      }
    }
  }
}

.video-section.dress .video-inner {
  max-width: 892px;
}

.main-dresses {
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 90px;
  @media (max-width: 767px) {
    padding: 0 15px;
    padding-bottom: 42px;
    background: $bg-gray;
  }
  &:nth-child(odd) {
    & .main-dresses__about {
      order: -1;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media (max-width: 767px) {
    display: block;
    margin-bottom: 25px;
  }
}

.main-dresses__pic {
  max-height: 700px;
  @media (max-width: 767px) {
    margin-bottom: 30px;
  }
  > picture {
    width: 100%;
    height: 100%;
    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.main-dresses__about {
  flex-shrink: 0;
  width: 100%;
  max-width: 650px;
  padding: 0 50px;
  @media (max-width: 1600px) {
    max-width: fit-content;
  }
  @media (max-width: 1199px) {
    padding: 0 30px;
  }
  @media (max-width: 991px) {
    padding: 0 20px;
  }
  @media (max-width: 767px) {
    margin: 0 auto;
  }

  & p {
    margin: 0;
    margin-bottom: 20px;
    font-family: $CormorantSC;
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
    color: $black;
    text-align: center;
    text-transform: uppercase;
    @media (max-width: 991px) {
      font-size: 18px;
      line-height: 22px;
    }
    @media (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
  & a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 160px;
    min-height: 45px;
    border: 1px solid $black;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: $black;
    text-transform: uppercase;
    @media (max-width: 991px) {
      width: 240px;
      min-height: 35px;
      font-size: 13px;
      line-height: 16px;
    }
    &:hover {
      color: #fff;
      border: 1px solid $black;
      background-color: $black;
    }
  }
}
