.main-section {
  padding: 0 10px;
  padding-top: 10px;
  @media (max-width: 767px) {
    padding: 0;
    padding-top: 15px;
  }
}

.main-pic.slick-slider {
  position: relative;
  & .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    font-size: 0;
    background-color: rgba(#fff, 0.6);
    @media (max-width: 767px) {
      width: 20px;
      height: 20px;
    }
    &.slick-prev {
      left: 0;
      z-index: 90;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 17px;
        height: 28px;
        -webkit-mask: url("../images/icons/arrow-left-slider.svg");
        mask: url("../images/icons/arrow-left-slider.svg");
        -webkit-mask-position: center;
        mask-position: center;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: contain;
        mask-size: contain;
        background: $black;
        transition: background 0.3s;
        @media (max-width: 767px) {
          width: 9px;
          height: 14px;
        }
      }
      &:hover::before {
        background: $dark-gray;
      }
    }
    &.slick-next {
      right: 0;
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        height: 28px;
        width: 17px;
        -webkit-mask: url("../images/icons/arrow-right-slider.svg");
        mask: url("../images/icons/arrow-right-slider.svg");
        -webkit-mask-position: center;
        mask-position: center;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: contain;
        mask-size: contain;
        background: $black;
        transition: background 0.3s;
        @media (max-width: 767px) {
          width: 9px;
          height: 14px;
        }
      }
      &:hover::before {
        background: $dark-gray;
      }
    }
  }

  & .main-pic-slide {
    position: relative;
    height: 700px;
    @media (max-width: 1600px) {
      height: calc(37.5vw - 10px);
    }
    @media (max-width: 767px) {
      height: 340px;
    }

    & picture {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__about {
      position: absolute;
      top: 210px;

      @media (max-width: 1600px) {
        top: 50%;
        left: 10%;
        transform: translateY(-50%);
      }
      @media (max-width: 767px) {
        top: calc(50% + 15px);
        left: 50%;
        transform: translate(-50%, -50%);
      }
      & p {
        margin: 0;
        margin-bottom: 55px;
        font-family: $CormorantSC;
        font-size: 42px;
        line-height: 51px;
        color: #fff;
        text-transform: uppercase;
        @media (max-width: 1299px) {
          margin-bottom: 47px;
          font-size: 24px;
          line-height: 29px;
        }
        @media (max-width: 767px) {
          text-align: center;
        }
      }
      & a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 220px;
        border: 1px solid #fff;
        min-height: 50px;
        padding: 5px 10px;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        text-decoration: none;
        letter-spacing: 0.03em;
        color: #fff;
        @media (max-width: 767px) {
          margin: 0 auto;
        }
        &:hover {
          color: #fff;
          border: 1px solid $black;
          background-color: $black;
        }
      }
    }
  }
}
