.breadcrumbs{
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.03em;
  padding: 10px 0 16px;
  @include bp(xs){
    padding: 11px 15px 11px 20px;
  }
  a{
    text-decoration: none;
    font-weight: 400;
    color: $gray;
    &:hover, &:focus{
      text-decoration: none;
      &:after{
      }
    }
    &:after{
      content: '|';
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      margin-left: 4px;
      margin-right: 1px;
    }
    &:last-child{
      &:after{
        display: none;
      }
    }
  }
  span{
    font-weight: 700;
    color: $black;
  }
}