.page-title {
  margin: 0;
  padding: 5px 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  background: $bg-gray;
  color: $black;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-weight: 400;
  @include bp(md) {
    display: none;
  }
}

.catalog-pic {
  height: calc(37.5vw - 20px);
  padding: 0 10px;
  @include bp(xs) {
    padding: 0;
    height: 106vw;
    margin-bottom: 10px;
  }
  picture {
    width: 100%;
    height: 100%;
    &.catalog-pic__main {
      @include bp(xs) {
        display: none;
      }
    }
    &.catalog-pic__mob {
      display: none;
      @include bp(xs) {
        display: block;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  + .catalog-title__wrapper {
    @include bp(xs) {
      padding-top: 10px;
    }
    &:before {
      display: none;
    }
  }
}

.catalog-title__wrapper {
  position: relative;
  padding: 50px 0 42px;
  text-align: center;
  @include bp(xs) {
    padding: 20px 0 14px;
  }
  &:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 1px;
    width: 100%;
    background: $border;
  }
  &:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background: $border;
  }
}

.catalog-title {
  display: block;
  margin: 0 auto 12px;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  @include bp(xs) {
    font-size: 16px;
    line-height: 20px;
  }
  &.search {
    text-transform: none;
  }
}

.catalog-descr {
  width: 450px;
  max-width: 100%;
  margin: 0 auto;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  color: $gray;
  @include bp(xs) {
    font-size: 12px;
    line-height: 15px;
  }
}

.catalog-main {
  position: relative;
  float: left;
  width: 100%;
  &:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background: rgba(117, 117, 117, 0.3);
    opacity: 0.8;
  }
}

.catalog-filters__bar-wrapper {
  transition: linear 0.2s;
  position: relative;
  &.fixed {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    .catalog-filters__bar {
      padding: 10px 0;
    }
    .catalog-filters__clear {
      top: 24px;
    }
  }
  &.checked-filters {
    .catalog-filters__clear {
      display: flex;
      @include bp(md) {
        display: none;
      }
    }
    .catalog-filters__btn {
      display: none;
      &.active-filters {
        display: flex;
      }
    }
    .catalog-filters__checked-list {
      display: flex;
      @include bp(md) {
        display: none;
      }
    }
  }
}

.catalog-filters__bar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  transition: linear 0.2s;
  @include bp(xs) {
    padding: 13px 0;
  }
}

.catalog-filters__btn {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  cursor: pointer;
  @include bp(xs) {
    font-size: 11px;
    line-height: 13px;
    margin-right: 2px;
  }
  svg {
    margin-left: 5px;
    margin-top: 2px;
    transition: linear 0.2s;
    @include bp(xs) {
      svg {
        width: 13px;
      }
    }
  }
  &.active {
    svg {
      transform: scale(1, -1);
      @include bp(md) {
        transform: scale(1, 1);
      }
    }
  }
  &.active-filters {
    display: none;
  }
}

.catalog-filters__clear {
  position: absolute;
  display: none;
  top: 33px;
  left: 272px;
  align-items: center;
  font-size: 14px;
  line-height: 120%;
  cursor: pointer;
  letter-spacing: 0.02em;
  transition: linear 0.2s;
  svg {
    margin-left: 5px;
    margin-top: 1px;
  }
}

.catalog-filters__checked-list {
  display: none;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 12px;
  margin-bottom: -5px;
}

.catalog-filters__checked-item {
  margin-right: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 3px;
  min-width: 85px;
  padding: 0 12px;
  cursor: pointer;
  height: 23px;
  svg {
    width: 11px;
    margin-right: 5px;
  }
  span {
    word-break: keep-all;
    text-align: center;
    width: calc(100% - 16px);
    font-weight: 500;
    font-size: 10px;
    line-height: 120%;
    letter-spacing: 0.02em;
    margin-top: -1px;
  }
}

.catalog-sort {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  cursor: pointer;
  @include bp(xs) {
    font-size: 11px;
    line-height: 13px;
  }
  & .catalog-sort-name {
    color: $gray;
    margin-right: 13px;
    @include bp(xs) {
      display: none;
    }
  }
}

.catalog-sort-select {
  .SumoSelect.open {
    & label > i:before {
      transform: rotate(135deg);
    }
    & .CaptionCont {
      & label > i {
        margin-bottom: 9px;
        opacity: 1 !important;
        &::before {
          opacity: 1 !important;
        }
        @media (max-width: 574px) {
          margin-bottom: 6px;
        }
      }
    }
  }
  & .CaptionCont {
    width: auto;
    min-width: 150px;
    padding-left: 11px;
    border: none !important;
    @media (max-width: 767px) {
      min-width: auto;
    }
    & span {
      @media (max-width: 574px) {
        font-size: 11px;
        line-height: 13px;
      }
    }

    & label {
      cursor: pointer;
    }

    & label > i {
      padding-bottom: 1px;
      opacity: 1;
      @media (max-width: 574px) {
        padding-bottom: 4px;
      }
    }
    & label > i:before {
      border: 1px solid $black !important;
      border-right: none !important;
      border-top: none !important;
    }
  }
  & .optWrapper {
    left: -100px;
    width: 252px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    box-shadow: 0 4px 20px rgba(33, 31, 31, 0.1) !important;
    @media (max-width: 574px) {
      left: 0;
      width: 230px;
      height: auto;
      padding-top: 0;
      padding-bottom: 0;
    }
    @media (max-width: 346px) {
      right: 0 !important;
      left: auto !important;
    }
    &.isFloating {
      width: 185px !important;
    }
    & li {
      padding: 10px 6px !important;
    }
    & label {
      color: $black !important;
      padding-left: 20px;
      @media (max-width: 574px) {
        font-size: 11px;
        line-height: 13px;
      }
    }
  }
}

.catalog-views {
  display: none;
  flex: 1 0 auto;
  justify-content: flex-end;
  margin-right: -4px;
  @include bp(xs) {
    display: flex;
    flex-grow: 0;
  }
}

.calalog-view {
  width: 23px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  &.active {
    svg {
      rect {
        stroke: $black;
      }
    }
  }
}

.catalog-main__wrapper {
  float: left;
  width: 100%;
  position: relative;
  padding-bottom: 40px;
  @include bp(xs) {
    padding-bottom: 10px;
  }
  &.opened-filters {
    .catalog-filters {
      width: 25%;
      padding-right: 10px;
      @include bp(md) {
        width: 100%;
        padding-right: 0;
        left: 0;
        z-index: 10;
      }
    }
    .catalog-items {
      width: calc(75% + 10px);
      @include bp(md) {
        width: auto;
        flex: 1 0 auto;
      }
      .col {
        width: 33.333333%;
        @include bp(md) {
          width: 50%;
        }
      }
    }
  }
}

.catalog-filters {
  float: left;
  width: 0;
  position: sticky;
  top: 0;
  left: 0;
  transition: width ease-in-out 0.3s;
  overflow: hidden;
  @include bp(md) {
    position: fixed;
    bottom: 0;
    z-index: 10;
    background-color: #fff;
  }
}

.catalog-filters__main {
  min-height: 400px;
  padding-right: 15px;
  transition: linear 0.2s;
  @include bp(lg) {
    padding-right: 0;
  }
  @include bp(md) {
    height: 100vh;
  }
  &.fixed {
    margin-top: 37px;
    @include bp(md) {
      margin-top: 0;
    }
    .catalog-filters__list {
      max-height: calc(100vh - 127px);
    }
    &.checked-filters {
      margin-top: 62px;
      @include bp(md) {
        margin-top: 0;
      }
      .catalog-filters__list {
        max-height: calc(100vh - 152px);
      }
    }
  }
}

.catalog-filters__head-mob {
  height: 45px;
  position: relative;
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: $bg-gray;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: $black;
  @include bp(md) {
    display: flex;
  }
  .catalog-filters__close {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.catalog-filters__inner {
  position: relative;
  overflow: auto;
  @include bp(md) {
    height: calc(100vh - 125px);
    padding-left: 15px;
    padding-bottom: 30px;
  }
  &::-webkit-scrollbar {
    overflow-y: scroll;
    background: transparent;
    width: 3px;
    transition: linear 0.2s;
    box-shadow: 1px 0 0 #c4c4c4;
  }
  &::-webkit-scrollbar-thumb {
    background: $gray;
    border-radius: 0;
    width: 3px;
    transition: linear 0.2s;
    cursor: grab;
  }
}

.catalog-filters__header {
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 26px;
  @include bp(lg) {
    margin-right: 16px;
  }
  @include bp(md) {
    display: none;
  }
  &:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    left: 0;
    top: 0;
    background: rgba(117, 117, 117, 0.3);
    opacity: 0.8;
  }
  &:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    background: rgba(117, 117, 117, 0.3);
    opacity: 0.8;
  }
}

.catalog-filters__checked-mob {
  display: none;
  padding-top: 28px;
  padding-bottom: 17px;
  margin-right: 15px;
  border-bottom: 1px solid $border;
  .catalog-filters__checked-list {
    margin-top: 0;
  }
  &.checked-filters {
    @include bp(md) {
      display: block;
    }
    .catalog-filters__checked-list {
      display: flex;
    }
  }
}

.catalog-filters__list {
  position: relative;
  padding-right: 25px;
  @include bp(lg) {
    padding-right: 15px;
  }
}

.catalog-filter__block {
  padding-bottom: 5px;
  position: relative;
  margin-top: 15px;
  &:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    background: rgba(117, 117, 117, 0.3);
    opacity: 0.8;
  }
}

.catalog-filter__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  line-height: 130%;
  text-transform: uppercase;
  cursor: pointer;
  min-height: 30px;
  margin-bottom: 15px;
  @include bp(xs) {
    margin-bottom: 10px;
    min-height: 15px;
  }
  &.active {
    i {
      &:after {
        opacity: 0;
      }
    }
  }
  i {
    position: relative;
    width: 9px;
    min-width: 9px;
    height: 9px;
    margin-right: 6px;
    margin-left: 10px;
    &:before {
      position: absolute;
      content: "";
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 1px;
      background-color: $dark-gray;
    }
    &:after {
      position: absolute;
      content: "";
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 1px;
      height: 100%;
      background-color: $dark-gray;
      opacity: 1;
    }
  }
}

.catalog-filter__body {
  > ul {
    margin-bottom: 25px;
    padding-left: 20px;
    @media (max-width: 991px) {
      margin-bottom: 15px;
    }
    > li {
      margin-bottom: 15px;
      @media (max-width: 991px) {
      }
      &:last-child {
        margin-bottom: 0;
      }
      &.active {
        span {
          &:after {
            display: block;
          }
        }
      }
      span {
        position: relative;
        padding-left: 25px;
        cursor: pointer;
        font-size: 12px;
        line-height: 120%;
        color: rgba($black, 0.8);
        transition: linear 0.2s;
        display: block;
        &:hover {
          color: $black;
        }
        &:before {
          position: absolute;
          content: "";
          left: 0;
          top: 3px;
          width: 10px;
          height: 10px;
          border: 1px solid rgba($black, 0.5);
        }
        &:after {
          display: none;
          position: absolute;
          content: "";
          left: 3px;
          top: 6px;
          width: 4px;
          height: 4px;
          background-color: $black;
        }
      }
    }
  }
}

.catalog-filters__items-counter {
  font-size: 12px;
  line-height: 120%;
  opacity: 0.8;
}

.catalog-filters__close {
  width: 14px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.catalog-filters__footer-mob {
  display: none;
  height: 80px;
  background: $bg-gray;
  padding: 10px;
  @include bp(md) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .catalog-filters__items-counter {
    text-align: center;
    display: block;
    margin-bottom: 8px;
  }
}

.catalog-filters__footer-buttons {
  display: flex;
  justify-content: center;
  .btn {
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid $black;
    color: $black;
    cursor: pointer;
    transition: linear 0.2s;
    border-radius: 0;
    box-shadow: none;
    outline: none !important;
    text-decoration: none;
    &.btn-filled {
      background-color: $black;
      color: #fff;
    }
    &.catalog-filters__btn-submit {
      width: 140px;
      margin: 0 5px;
    }
    &.catalog-filters__btn-clear {
      width: 140px;
      margin: 0 5px;
    }
    &.catalog-filters__btn-close {
      width: 220px;
    }
  }
}

.catalog-items {
  float: left;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
  width: calc(100% + 10px);
  @include bp(xs) {
    margin: 0 -15px;
    flex: 1 0 auto;
    width: auto;
    justify-content: space-between;
  }
  .col {
    width: 25%;
    transition: ease-in-out 0.3s;
    padding: 0 5px;
    margin-bottom: 10px;
    float: left;
    @include bp(md) {
      width: 50%;
    }
    @include bp(xs) {
      margin-bottom: 20px;
      width: calc(50% - 5px);
      padding: 0;
    }
  }
  &.one-col {
    .col {
      width: 100%;
      @include bp(xs) {
        width: 100%;
        margin-bottom: 30px;
      }
    }
    .catalog-item__pic {
      @include bp(xs) {
        height: 142vw;
      }
    }
    .catalog-item__label {
      @include bp(xs) {
        width: 30px;
        height: 30px;
      }
    }
    .catalog-item__fav {
      @include bp(xs) {
        width: 25px;
        height: 25px;
      }
      svg {
        @include bp(xs) {
          width: 15px;
        }
      }
    }
    .catalog-item__pin {
      @include bp(xs) {
        width: 25px;
        height: 25px;
      }
      svg {
        @include bp(xs) {
          width: 15px;
        }
      }
    }
    .catalog-item__info {
      @include bp(xs) {
        padding: 10px;
      }
    }
    .catalog-item__brand {
      @include bp(xs) {
        font-size: 10px;
        line-height: 12px;
        margin-bottom: 5px;
      }
    }
    .catalog-item__title {
      @include bp(xs) {
        max-height: 30px;
        margin-bottom: 5px;
      }
    }
    .catalog-item__price {
      > span {
        @include bp(xs) {
          margin: 0 20px;
        }
      }
    }
    .catalog-banner {
      @include bp(xs) {
        height: calc(142vw + 80px);
      }
    }
  }
}

.catalog-item {
  width: 100%;
  background-color: #fff;
  transition: linear 0.2s;
  &:hover {
    box-shadow: 0 4px 20px rgba(33, 31, 31, 0.1);
    .catalog-item__controls {
      visibility: visible;
      opacity: 1;
    }
  }
}

.catalog-item__pic {
  height: 490px;
  width: 100%;
  position: relative;
  transition: linear 0.2s;
  @include bp(xxl) {
    height: calc(35vw - 15px);
  }
  @include bp(md) {
    height: calc(69vw - 15px);
  }
  @include bp(xs) {
    height: calc(74vw - 15px);
  }
  > a {
    display: block;
    width: 100%;
    height: 100%;
    transition: linear 0.2s;
    picture {
      width: 100%;
      height: 100%;
      transition: linear 0.2s;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: linear 0.2s;
      }
    }
  }
}

.catalog-item__labels {
  position: absolute;
  top: 15px;
  left: 15px;
  pointer-events: none;
  transition: linear 0.2s;
}

.catalog-item__label {
  width: 35px;
  height: 35px;
  font-size: 11px;
  line-height: 13px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.65);
  color: $black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 5px;
  letter-spacing: 0.03em;
  transition: linear 0.2s;
  @include bp(xs) {
    width: 25px;
    height: 25px;
    font-size: 9px;
    line-height: 11px;
  }
}

.catalog-item__controls {
  position: absolute;
  top: 15px;
  right: 15px;
  opacity: 0;
  visibility: hidden;
  transition: linear 0.2s;
  @media (max-width: 767px) {
    opacity: 1;
    visibility: visible;
  }
}

.catalog-item__fav {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.65);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 5px;
  cursor: pointer;
  transition: linear 0.2s;
  &:hover {
    background-color: rgba(255, 255, 255, 1);
  }
  @include bp(xs) {
    width: 20px;
    height: 20px;
  }
  svg {
    @include bp(xs) {
      width: 12px;
    }
  }
}

.catalog-item__pin {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.65);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 5px;
  cursor: pointer;
  transition: linear 0.2s;
  &:hover {
    background-color: rgba(255, 255, 255, 1);
  }
  @include bp(xs) {
    width: 20px;
    height: 20px;
  }
  svg {
    @include bp(xs) {
      width: 12px;
    }
  }
}

.catalog-item__info {
  display: block;
  width: 100%;
  height: 140px;
  padding: 10px;
  color: $black;
  text-decoration: none;
  text-align: center;
  transition: linear 0.2s;
  @include bp(xs) {
    height: 80px;
    padding: 6px;
  }
  &:hover {
    color: $black;
    text-decoration: none;
  }
}

.catalog-item__brand {
  display: block;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  margin-bottom: 3px;
  letter-spacing: 0.03em;
  transition: linear 0.2s;
  @include bp(xs) {
    font-size: 9px;
    line-height: 11px;
  }
}

.catalog-item__title {
  font-size: 18px;
  line-height: 22px;
  max-height: 66px;
  overflow: hidden;
  margin-bottom: 11px;
  letter-spacing: 0.03em;
  transition: linear 0.2s;
  @include bp(xs) {
    font-size: 12px;
    line-height: 15px;
    max-height: 45px;
    margin-bottom: 3px;
  }
}

.catalog-item__price {
  display: flex;
  justify-content: center;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.03em;
  transition: linear 0.2s;
  @include bp(xs) {
    font-size: 12px;
    line-height: 15px;
  }
  > span {
    margin: 0 10px;
    @include bp(xs) {
      margin: 0 3px;
    }
    &.old-price {
      opacity: 0.7;
    }
  }
}

.catalog-banner {
  display: block;
  width: 100%;
  height: 630px;
  transition: linear 0.2s;
  @include bp(xxl) {
    height: calc(35vw - 15px + 140px);
  }
  @include bp(md) {
    height: calc(69vw - 15px + 140px);
  }
  @include bp(xs) {
    height: calc(74vw - 15px + 80px);
  }
  picture {
    width: 100%;
    height: 100%;
    transition: linear 0.2s;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: linear 0.2s;
    }
  }
}
