.favorites-top {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 0;
  @media (max-width: 767px) {
    padding: 15px 0;
  }
}
.favorites-title {
  margin: 0;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  @media (max-width: 767px) {
    font-size: 12px;
    line-height: 15px;
  }
}
.favorites-share {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: opacity 0.3s;
  &:hover {
    opacity: 0.7;
  }
  @media (max-width: 767px) {
    font-size: 10px;
    line-height: 12px;
  }
  & svg {
    margin-right: 15px;
  }
}

.favorites-share-popup {
  position: absolute;
  right: -20px;
  top: calc(100% - 20px);
  z-index: 1000;
  width: 100%;
  max-width: 450px;
  display: none;
  padding: 60px;
  padding-top: 70px;
  background-color: #fff;
  box-shadow: 0px 4px 20px rgba(33, 31, 31, 0.1);
  @media (max-width: 767px) {
    top: calc(100% - 2px);
    right: 0;
  }
  @media (max-width: 480px) {
    padding: 20px;
    padding-top: 25px;
  }
  &.open {
    display: block;
  }
  & .close {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    opacity: 1;
  }
}
.favorites-share-popup-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.favorites-share-popup-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.favorites-share-popup-text {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.03em;
}

.favorites-share-popup-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
  padding-bottom: 12px;
  border-bottom: 1px solid $border;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  color: $dark-gray;
  & svg {
    cursor: pointer;
  }
}

.favorites-share-popup-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 266px;
  height: 40px;
  border: 1px solid $black;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: $black;
  color: #ffffff;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    background-color: #ffffff;
    color: $black;
  }
}

// top <=

// catalog =>

.favorites-items {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 10px);
  margin: 0 -5px;
  margin-bottom: 60px;
  @media (max-width: 767px) {
    margin-bottom: 25px;
  }
  @include bp(xs) {
    flex: 1 0 auto;
    width: auto;
    justify-content: space-between;
    margin: 0 -15px;
  }
  .col {
    width: 25%;
    transition: ease-in-out 0.3s;
    padding: 0 5px;
    margin-bottom: 10px;
    @include bp(md) {
      width: 50%;
    }
    @include bp(xs) {
      margin-bottom: 20px;
      width: calc(50% - 5px);
      padding: 0;
    }
  }
  &.one-col {
    .col {
      width: 100%;
      @include bp(xs) {
        width: 100%;
        margin-bottom: 30px;
      }
    }
    .catalog-item__pic {
      @include bp(xs) {
        height: 142vw;
      }
    }
    .catalog-item__label {
      @include bp(xs) {
        width: 30px;
        height: 30px;
      }
    }
    .catalog-item__fav {
      @include bp(xs) {
        width: 25px;
        height: 25px;
      }
      svg {
        @include bp(xs) {
          width: 15px;
        }
      }
    }
    .catalog-item__pin {
      @include bp(xs) {
        width: 25px;
        height: 25px;
      }
      svg {
        @include bp(xs) {
          width: 15px;
        }
      }
    }
    .catalog-item__info {
      @include bp(xs) {
        padding: 10px;
      }
    }
    .catalog-item__brand {
      @include bp(xs) {
        font-size: 10px;
        line-height: 12px;
        margin-bottom: 5px;
      }
    }
    .catalog-item__title {
      @include bp(xs) {
        max-height: 30px;
        margin-bottom: 5px;
      }
    }
    .catalog-item__price {
      > span {
        @include bp(xs) {
          margin: 0 20px;
        }
      }
    }
    .catalog-banner {
      @include bp(xs) {
        height: calc(142vw + 80px);
      }
    }
  }
}

.favorites-item {
  width: 100%;
  background-color: #fff;
  transition: linear 0.2s;
  &:hover {
    box-shadow: 0 4px 20px rgba(33, 31, 31, 0.1);
    .catalog-item__controls {
      visibility: visible;
      opacity: 1;
    }
  }
}

.favorites-item__pic {
  height: 490px;
  width: 100%;
  position: relative;
  transition: linear 0.2s;
  @include bp(xxl) {
    height: calc(35vw - 15px);
  }
  @include bp(md) {
    height: calc(69vw - 15px);
  }
  @include bp(xs) {
    height: calc(74vw - 15px);
  }
  > a {
    display: block;
    width: 100%;
    height: 100%;
    transition: linear 0.2s;
    picture {
      width: 100%;
      height: 100%;
      transition: linear 0.2s;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: linear 0.2s;
      }
    }
  }
}

.favorites-item__labels {
  position: absolute;
  top: 15px;
  left: 15px;
  pointer-events: none;
  transition: linear 0.2s;
}

.favorites-item__controls {
  position: absolute;
  top: 15px;
  right: 15px;
  transition: linear 0.2s;
}

.favorites-item__close {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 25px;
  height: 25px;
  margin-bottom: 5px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.65);
  cursor: pointer;
  transition: linear 0.2s;
  &:hover {
    background-color: rgba(255, 255, 255, 1);
  }
  @include bp(xs) {
    width: 20px;
    height: 20px;
  }
  & span {
    position: relative;
    width: 10px;
    height: 10px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      width: 100%;
      height: 1px;
      background: $black;
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
      width: 100%;
      height: 1px;
      background: $black;
    }
  }
}

.favorites-item__info {
  padding: 12px;
  @media (max-width: 575px) {
    padding: 8px;
  }
}

.favorites-item__about {
  display: block;
  width: 100%;
  height: 100px;
  margin-bottom: 20px;
  color: $black;
  text-decoration: none;
  text-align: center;
  transition: linear 0.2s;
  text-decoration: none;
  @media (max-width: 575px) {
    margin-bottom: 0;
    height: 80px;
  }
  &:hover {
    color: $black;
    text-decoration: none;
  }
}

.favorites-item__brand {
  display: block;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  margin-bottom: 3px;
  letter-spacing: 0.03em;
  transition: linear 0.2s;
  @include bp(xs) {
    font-size: 9px;
    line-height: 11px;
  }
}

.favorites-item__title {
  font-size: 18px;
  line-height: 22px;
  max-height: 66px;
  overflow: hidden;
  margin-bottom: 11px;
  letter-spacing: 0.03em;
  transition: linear 0.2s;
  @include bp(xs) {
    font-size: 12px;
    line-height: 15px;
    max-height: 45px;
    margin-bottom: 3px;
  }
}

.favorites-item__price {
  display: flex;
  justify-content: center;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.03em;
  transition: linear 0.2s;
  @include bp(xs) {
    font-size: 12px;
    line-height: 15px;
  }
  > span {
    margin: 0 10px;
    @include bp(xs) {
      margin: 0 3px;
    }
    &.old-price {
      text-decoration: line-through;
      opacity: 0.7;
    }
  }
}

.favorites-item__size {
  margin-bottom: 30px;
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;
  @media (max-width: 575px) {
    margin-bottom: 15px;
    border-top: none;
  }

  & .SumoSelect {
    width: 100%;
    box-shadow: none;
    border: none;
    &.open > .CaptionCont,
    &:focus > .CaptionCont,
    &:hover > .CaptionCont {
      box-shadow: none;
      border: none;
    }

    & .CaptionCont {
      position: relative;
      margin: 0;
      padding: 12px 0;
      border: none;
      & span {
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 20px;
          transform: translateY(-50%);
          width: 140px;
          height: 20px;
          background-color: #fff;
          @media (max-width: 574px) {
            width: 80px;
            left: 15px;
          }
        }
        &.placeholder {
          &::before {
            display: none;
          }
        }
      }

      @media (max-width: 575px) {
        padding: 7px 0;
        padding-top: 12px;
      }
      & > span {
        font-style: normal;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.03em;
        color: $black;
        @media (max-width: 575px) {
          font-size: 10px;
          line-height: 12px;
        }
      }
      & > label:hover {
        cursor: pointer;
      }
      & > label i {
        width: 15px;
        height: 15px;
        background-image: url("../images/icons/arrow-down.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 15px 15px;
        @media (max-width: 575px) {
          margin-top: 10px;
          background-size: 8px 8px;
        }
        &:before {
          display: none;
        }
      }
    }
    &.open > .CaptionCont > label i {
      transform: rotate(180deg);
    }

    & .optWrapper {
      top: 40px;
      padding: 0;
      padding-bottom: 10px;
      border: 1px solid $border;
      border-radius: 0;
      box-shadow: none;
      @media (max-width: 400px) {
        padding-bottom: 0;
      }
      & .opt.disabled {
        display: none;
      }
      & li.group {
        > label {
          padding: 0;
          padding-top: 14px;
          padding-bottom: 10px;
          padding-left: 16px;
          font-size: 14px;
          line-height: 17px;
          font-weight: 400;
          letter-spacing: 0.03em;
          color: $black;
        }
        & .opt {
          padding: 5px 0;
          border: none;
          &:last-of-type {
            @media (max-width: 400px) {
              margin-bottom: 10px;
            }
          }
          @media (max-width: 400px) {
            padding-bottom: 0;
          }
          &:hover {
            background: $bg-gray;
          }
          & > label {
            margin: 0;

            padding-left: 36px;
            font-size: 14px;
            line-height: 17px;
            font-weight: 400;
            letter-spacing: 0.03em;
            color: #211f1f;
          }
        }
      }
    }
  }
}

.favorites-to-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 5px;
  border: 1px solid $black;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $black !important;
  text-decoration: none !important;
  @include bp(xs) {
    height: 50px;
    padding: 0 10px;
    font-size: 13px;
    line-height: 16px;
    display: none;
  }
  &.popup-btn {
    display: none;
    @include bp(xs) {
      display: flex;
    }
  }
  & svg {
    margin-right: 20px;
    @media (max-width: 575px) {
      display: none;
    }
  }
  &.in-cart {
    color: #fff !important;
    background-color: #000;
    & svg path {
      fill: #fff;
    }
  }
  &:hover {
    color: #fff !important;
    background-color: #000;
    & svg path {
      fill: #fff;
    }
  }
}
// ===========

.favorites-insta-title {
  display: block;
  margin-bottom: 15px;
  font-family: $CormorantSC;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $black;
  @media (max-width: 574px) {
    margin-bottom: 6px;
    font-size: 18px;
    line-height: 22px;
  }
}

.favorites-insta-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: $black;
  @media (max-width: 574px) {
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 15px;
  }
  & svg {
    margin-right: 6px;
    @media (max-width: 574px) {
      width: 23px;
    }
  }
}

.favorites-slider {
  margin-bottom: 75px;
  @media (max-width: 767px) {
    margin-bottom: 45px;
  }
}

.favorites-slider {
  position: relative;
  & .slick-list {
    margin-right: -15px;
    margin-left: -15px;
    @media (max-width: 676px) {
      margin-right: -10px;
      margin-left: -10px;
    }
  }
  & .slick-slide {
    margin: 0 15px;
    @media (max-width: 767px) {
      margin: 0 5px;
    }
  }

  & .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    font-size: 0;
    background-color: rgba(#fff, 0.6);
    @media (max-width: 767px) {
      width: 17px;
      height: 17px;
    }
    &.slick-prev {
      left: -100px;
      z-index: 100;
      @media (max-width: 1640px) {
        left: 0;
      }
      @media (max-width: 767px) {
        left: -10px;
      }
      @media (max-width: 676px) {
        left: -5px;
      }
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 17px;
        height: 28px;
        -webkit-mask: url("../images/icons/arrow-left-slider.svg");
        mask: url("../images/icons/arrow-left-slider.svg");
        -webkit-mask-position: center;
        mask-position: center;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: contain;
        mask-size: contain;
        background: $black;
        transition: background 0.3s;
        @media (max-width: 767px) {
          width: 8px;
          height: 14px;
        }
      }
      &:hover::before {
        background: $dark-gray;
      }
    }
    &.slick-next {
      right: -100px;
      @media (max-width: 1640px) {
        right: 0;
      }
      @media (max-width: 767px) {
        right: -10px;
      }
      @media (max-width: 676px) {
        right: -5px;
      }
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        height: 28px;
        width: 17px;
        -webkit-mask: url("../images/icons/arrow-right-slider.svg");
        mask: url("../images/icons/arrow-right-slider.svg");
        -webkit-mask-position: center;
        mask-position: center;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: contain;
        mask-size: contain;
        background: $black;
        transition: background 0.3s;
        @media (max-width: 767px) {
          width: 8px;
          height: 14px;
        }
      }
      &:hover::before {
        background: $dark-gray;
      }
    }

    &.slick-disabled {
      opacity: 0.4;
    }
  }

  & .favorites-slide {
    & .favorites-pic {
      display: block;
      width: 210px;
      height: 215px;
      text-decoration: none;
      @media (max-width: 1170px) {
        // height: 47vw;
      }
      > picture {
        width: 100%;
        height: 100%;
        > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
