@import "icons";

@font-face {
  font-family: "Commissioner";
  src: url("../fonts/Commissioner-Light.eot");
  src: url("../fonts/Commissioner-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Commissioner-Light.woff") format("woff"), url("../fonts/Commissioner-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Commissioner";
  src: url("../fonts/Commissioner-Regular.eot");
  src: url("../fonts/Commissioner-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Commissioner-Regular.woff") format("woff"),
    url("../fonts/Commissioner-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Commissioner";
  src: url("../fonts/Commissioner-Medium.eot");
  src: url("../fonts/Commissioner-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Commissioner-Medium.woff") format("woff"), url("../fonts/Commissioner-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Commissioner";
  src: url("../fonts/Commissioner-SemiBold.eot");
  src: url("../fonts/Commissioner-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Commissioner-SemiBold.woff") format("woff"),
    url("../fonts/Commissioner-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Commissioner";
  src: url("../fonts/Commissioner-Bold.eot");
  src: url("../fonts/Commissioner-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Commissioner-Bold.woff") format("woff"), url("../fonts/Commissioner-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CormorantSC";
  src: url("../fonts/CormorantSC-Regular.eot");
  src: url("../fonts/CormorantSC-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/CormorantSC-Regular.woff") format("woff"), url("../fonts/CormorantSC-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CormorantSC";
  src: url("../fonts/CormorantSC-Medium.eot");
  src: url("../fonts/CormorantSC-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/CormorantSC-Medium.woff") format("woff"), url("../fonts/CormorantSC-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CormorantSC";
  src: url("../fonts/CormorantSC-SemiBold.eot");
  src: url("../fonts/CormorantSC-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/CormorantSC-SemiBold.woff") format("woff"),
    url("../fonts/CormorantSC-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CormorantSC";
  src: url("../fonts/CormorantSC-Bold.eot");
  src: url("../fonts/CormorantSC-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/CormorantSC-Bold.woff") format("woff"), url("../fonts/CormorantSC-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
