.footer {
  position: relative;
  padding: 50px 0 65px;
  padding-bottom: 0;
  &:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    left: 0;
    top: 0;
    background: rgba(117, 117, 117, 0.3);
    opacity: 0.8;
  }
}

.footer-wrapper {
  display: flex;
  // justify-content: space-between;
  justify-content: space-evenly;
  @include bp(md) {
    display: block;
  }
}

.footer-left {
  display: flex;
  @include bp(xxl) {
    width: calc(100% - 450px);
  }
  @include bp(lg) {
    width: calc(100% - 350px);
  }
  @include bp(md) {
    width: 100%;
  }
}

.footer-menu {
  display: flex;
  letter-spacing: 0.03em;
  @include bp(xxl) {
    width: 100%;
  }
  @include bp(xs) {
    flex-wrap: wrap;
  }
  > li {
    width: 240px;
    padding-right: 15px;
    @include bp(xxl) {
      min-width: 240px;
    }
    @include bp(lg) {
      width: 33.33333%;
      min-width: 25%;
    }
    @include bp(xs) {
      width: 50%;
      margin-bottom: 24px;
    }
    &:first-child {
      // width: 240px;
      width: 180px;
      @include bp(xxl) {
      }
      @include bp(lg) {
        width: 33.33333%;
        width: 25%;
      }
      @include bp(xs) {
        order: 1;
        width: 50%;
      }
    }
    &:nth-child(2) {
      @include bp(xs) {
        order: 3;
      }
    }
    &:nth-child(3) {
      @include bp(xs) {
        order: 2;
      }
    }
    &:last-child {
      display: none;
      @include bp(xs) {
        display: block;
        order: 4;
      }
      .footer-socials {
        @include bp(xs) {
          display: flex;
          margin-top: 0;
        }
        li {
          @include bp(xs) {
            margin-bottom: 0;
            margin-right: 18px;
          }
          svg {
            @include bp(xs) {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
    span {
      display: block;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 25px;
      @include bp(xs) {
        font-size: 13px;
        line-height: 16px;
        margin-bottom: 14px;
      }
    }
    ul {
      font-size: 14px;
      line-height: 17px;
      @include bp(xs) {
        font-size: 11px;
        line-height: 13px;
      }
      li {
        margin-bottom: 19px;
        @include bp(xs) {
          margin-bottom: 9px;
        }
        &:last-child {
          margin-bottom: 0;
        }
        a {
          color: $black;
          text-decoration: none;
          &:hover {
            color: $black;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.footer-right {
  min-width: 450px;
  letter-spacing: 0.03em;
  @include bp(lg) {
    min-width: 350px;
  }
  @include bp(md) {
    width: 450px;
    min-width: unset;
    max-width: 100%;
    margin-top: 40px;
  }
  @include bp(xs) {
    margin-top: 7px;
  }
  > span {
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 25px;
    @include bp(xs) {
      font-size: 13px;
      line-height: 16px;
      margin-bottom: 14px;
    }
  }
}

.footer-subscribe {
  margin-top: -10px;
  margin-bottom: 58px;
  @include bp(xs) {
    margin-top: -5px;
    margin-bottom: 0;
  }
  + span {
    @include bp(xs) {
      display: none;
    }
  }
  .input-wrapper {
    position: relative;
    &:after {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;
      height: 1px;
      width: 100%;
      background: rgba(117, 117, 117, 0.3);
      opacity: 0.8;
    }
    input {
      width: 100%;
      padding: 10px 40px 10px 0;
      border: none;
      background-color: transparent;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: $black;
      letter-spacing: 0.03em;
      @include bp(xs) {
        font-size: 13px;
        line-height: 16px;
        padding: 5px 25px 5px 0;
      }
      &::placeholder {
        color: $gray;
      }
      &:focus {
        &::placeholder {
          color: transparent;
        }
      }
    }
    button {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      border: none;
      font-size: 0;
      padding: 0;
      background-color: transparent;
      display: flex;
      align-items: center;
      width: 30px;
      height: 30px;
      @include bp(xs) {
        justify-content: flex-end;
        width: 20px;
        height: 26px;
        overflow: hidden;
      }
      &:hover svg {
        height: 12px;
        min-width: 41px;
        transition: all 0.2s;
        path {
          fill: #000;
          transition: all 0.2s;
        }
      }
      svg {
        min-width: 31px;
        transition: all 0.2s;
      }
    }
  }
  .checkbox-wrapper {
    margin-top: 20px;
    @include bp(xs) {
      margin-top: 15px;
    }
    input {
      display: none;
      + label {
        position: relative;
        font-weight: 400;
        margin-bottom: 0;
        cursor: pointer;
        font-size: 14px;
        line-height: 17px;
        display: block;
        padding-left: 35px;
        letter-spacing: 0.03em;
        @include bp(xs) {
          padding-left: 19px;
          font-size: 11px;
          line-height: 13px;
        }
        &:before {
          position: absolute;
          content: "";
          width: 20px;
          height: 20px;
          border-radius: 1px;
          border: 1px solid $black;
          left: 0;
          top: -1px;
          @include bp(xs) {
            width: 13px;
            height: 13px;
            top: 0;
          }
        }
        &:after {
          display: none;
          position: absolute;
          content: "";
          left: 4px;
          top: 4px;
          width: 12px;
          height: 6px;
          border: 2px solid $black;
          border-right: 0;
          border-top: 0;
          transform: rotate(-45deg);
          @include bp(xs) {
            left: 3px;
            top: 2px;
            width: 7px;
            height: 5px;
          }
        }
      }
      &:checked {
        + label {
          &:after {
            display: block;
          }
        }
      }
    }
  }
}

.footer-socials {
  margin-top: 30px;
  display: flex;
  align-items: center;
  @include bp(xs) {
    display: none;
  }
  li {
    margin-right: 19px;
    a {
      display: flex;
      &:hover {
        svg {
          * {
            fill: $gray;
          }
        }
      }
    }
  }
}

.footer-copyright {
  background-color: $black;
  padding: 16px 0;
  color: #fff;
  margin-top: 65px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.03em;
  @include bp(sm) {
    padding: 12px 0;
  }
  @include bp(xs) {
    margin-top: 35px;
    font-size: 11px;
    line-height: 13px;
  }
  .container {
    display: flex;
    justify-content: center;
    @include bp(sm) {
      flex-direction: column;
    }
    span {
      padding: 0 50px;
      @include bp(sm) {
        padding: 0;
      }
      + span {
        @include bp(sm) {
          margin-top: 9px;
        }
      }
    }
    a {
      color: #fff;
      text-decoration: none;
      &:hover {
        text-decoration: none;
        color: #fff;
        opacity: 0.5;
      }
    }
  }
}
