.header {
  height: 114px;
  transition: linear 0.2s;
  display: flex;
  justify-content: space-between;
  position: relative;
  @include bp(md) {
    display: none;
  }
}

.header.simple {
  & .header-top ul,
  & .header-top li {
    display: flex;
    align-items: center;
  }
  & li {
    margin-right: 60px;
    &:last-child {
      margin-right: 0;
    }
    & a {
      padding: 0;
    }
  }
}

.header-support {
  & span:first-child {
    margin-right: 14px;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.03em;
    color: $black;
  }
  & span:last-child {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.03em;
    color: $black;
  }
}

.header-schedule {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.03em;
  color: $black;

  & svg {
    margin-left: 7px;
    margin-right: 0 !important;
  }
}

.mobile-header.simple {
  & ul,
  & li {
    margin-right: 0;
  }

  .header-support {
    padding: 0;
    & span:first-child {
      margin-right: 14px;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.03em;
      color: $black;
      @media (max-width: 575px) {
        margin-right: 0;
      }
    }
    & span:last-child {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.03em;
      color: $black;
    }
    @media (max-width: 574px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.header-left {
  padding-left: 20px;
}

.header-logo {
  width: 280px;
  margin-top: 22px;
  display: flex;
  img {
    width: 100%;
    object-fit: contain;
  }
}

.header-right {
  width: calc(100% - 374px);
  @include bp(lg) {
    width: calc(100% - 320px);
  }
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
  border-bottom: 1px solid $border;
  height: 51px;
}

.header-top__menu {
  display: flex;
  li {
    margin-right: 20px;
    @include bp(lg) {
      margin-right: 10px;
    }
    a {
      display: flex;
      align-items: center;
      padding: 0 10px;
      font-size: 12px;
      line-height: 15px;
      color: $black;
      text-decoration: none;
      svg {
        margin-right: 8px;
      }
      &:hover {
        color: #000;
        text-decoration: underline;
        svg {
          & path {
            fill: #000;
          }
        }
      }
    }
  }
}

.header-option {
  width: 70px;
  font-size: 12px;
  line-height: 15px;
  & .SumoSelect {
    &.open {
      z-index: 10;
      box-shadow: 0px 4px 20px rgba(33, 31, 31, 0.1);
      & > .optWrapper {
        top: 100%;
        border: none;
        border-top: 1px solid $border;
        box-shadow: 0px 10px 20px rgba(33, 31, 31, 0.1);
      }
      & > .CaptionCont label i::before {
        margin-top: 6px;
        transform: rotate(135deg);
      }
    }
    &:hover {
      & > .CaptionCont span {
        color: #000;
        font-weight: 500;
      }
    }
    & > .optWrapper .options li.opt {
      padding: 8px 10px;
      font-size: 12px;
      line-height: 15px;
      &.selected {
        display: none;
      }
    }
    & > .CaptionCont {
      padding: 17px 10px 18px 11px;
      border-bottom: none;
      font-size: 12px;
      line-height: 15px;
      & span {
        padding-right: 25px;
      }
      & label {
        margin-right: 23px;
        cursor: pointer;
        & i {
          cursor: pointer;
          &::before {
            content: "";
            width: 5px;
            height: 5px;
            margin-bottom: 2px;
          }
        }
      }
    }
  }
}

.header-option.header-currency {
  & .SumoSelect {
    & > .CaptionCont {
      & span {
        font-weight: 700;
      }
      & label {
        margin-right: 14px;
      }
    }
  }
}

.mobile-menu {
  & .header-option {
    width: 65px;
    & .SumoSelect {
      & > .CaptionCont {
        padding: 13px 0;
        & span {
          padding-left: 17px;
        }
        & label {
          margin-right: 0;
        }
      }
      & .optWrapper {
        & li {
          & label {
            padding-left: 8px;
            & i {
              margin-left: 0;
              &::before {
                margin-bottom: 1px;
              }
            }
          }
        }
      }
    }
  }
  & .header-option.header-lang {
    .SumoSelect {
      > .CaptionCont label {
        margin-right: 13px;
      }
    }
  }
}

.header-search {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
  height: 21px;
  width: 21px;

  & > svg {
    cursor: pointer;
  }

  & form {
    position: absolute;
    display: none;
    right: -17px;
    top: -15px;
    min-height: 50px;
    width: 350px;
    z-index: 1000;
    box-shadow: 0px 4px 20px rgba(33, 31, 31, 0.1);

    & input {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 50px;
      padding-left: 20px;
      padding-right: 60px;
      border: none;
      font-size: 14px;
      line-height: 17px;
      &::-webkit-input-placeholder {
        color: $black;
      }
      &::-moz-placeholder {
        color: $black;
      } /* Firefox 19+ */
      &:-moz-placeholder {
        color: $black;
      } /* Firefox 18- */
      &:-ms-input-placeholder {
        color: $black;
      }
      &:focus{
        font-size: 14px;
      }
    }
    & button {
      position: absolute;
      top: 0;
      display: flex;
      justify-content: center;
      right: 0;
      height: 50px;
      padding: 0 17px;
      padding-top: 15px;
      background-color: transparent;
      border: none;
    }
    & .header-search-options {
      width: 350px;
      margin-top: 50px;
      padding: 16px 20px 25px 20px;
      background: #fff;
      border-top: 1px solid $border;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.03em;
      color: $gray;

      & li {
        margin-bottom: 13px;
        cursor: pointer;
        &:last-child {
          margin-bottom: 0;
        }
        &:hover {
          color: $black;
        }
      }
    }
    & .header-search-found {
      display: none;
      margin-top: 51px;
      padding-left: 20px;
      background: #fff;
      overflow-y: auto;
      & ul {
        padding-top: 15px;
        padding-right: 20px;
        padding-bottom: 32px;
        height: 100%;
        height: 390px;
        overflow-y: auto;
        &::-webkit-scrollbar {
          overflow-y: scroll;
          background: transparent;
          width: 3px;
          transition: linear 0.2s;
          box-shadow: 1px 0 0 #c4c4c4;
        }
        &::-webkit-scrollbar-thumb {
          background: gray;
          border-radius: 0;
          width: 3px;
          transition: linear 0.2s;
          cursor: grab;
        }
      }
      & li {
        width: 100%;
        margin-bottom: 10px;
      }
      & .search-product {
        display: flex;
        text-decoration: none;
        &__pic {
          flex-shrink: 0;
          margin-right: 13px;
          width: 53px;
          height: 76px;
          & picture {
            width: 100%;
            height: 100%;

            & img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
        &__about {
          display: flex;
          flex-direction: column;
          max-width: 230px;
          padding-top: 10px;

          &-name {
            display: block;
            margin-bottom: 5px;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.03em;
            color: $gray;
          }
          &-price {
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.03em;
            color: $black;
          }
        }
      }
      & > a {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 25px;
        background: #fff;
        display: block;
        padding-top: 10px;
        padding-bottom: 15px;
        text-align: right;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.03em;
        color: $black;
        text-decoration: none;
        &:hover {
          color: $accent;
        }
      }
    }
  }
  &.open form {
    display: block;
  }
}

.header-search.mobile {
  position: absolute;
  right: 0;
  justify-content: flex-start;
  width: 100%;
  height: 29px;
  margin-right: 17px;
  padding-left: 35px;
}
.header-search.mobile form {
  width: 100%;
}

.header-search.mobile input {
  top: 7px;
}

.header-search.mobile .header-search-options {
  width: 100%;
}

.header-search.mobile form button {
  padding-top: 20px;
}

// favor-
.header-fav {
  display: flex;
  margin-right: 40px;
  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    visibility: hidden;
    background: rgba($black, 0);
  }
  @include bp(md) {
    margin-right: 13px;
  }
  &.empty.active {
    &::before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 100;
      visibility: visible;
      background: rgba($black, 0.7);
    }
    & .header-fav__inner {
      display: block;
    }
  }
  &.empty {
    & .header-fav__icon {
      fill: transparent;
    }
  }
  &__icon {
    cursor: pointer;
  }

  &__inner {
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    width: 100%;
    max-width: 450px;
    height: 100vh;
    padding: 25px 30px;
    background: #fff;
    z-index: 100;

    & > button {
      position: absolute;
      right: 23px;
      top: 20px;
      background: transparent;
      border: none;
    }
  }
  & .header-fav__top {
    & b {
      display: block;
      margin-bottom: 20px;
      font-size: 18px;
      line-height: 22px;
      font-weight: 400;
      letter-spacing: 0.03em;
    }
    & span {
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.03em;
    }
  }
}

.header-cart {
  display: flex;
  position: relative;
  & .header-cart-count {
    position: absolute;
    top: -5px;
    right: -6px;
    display: block;
    width: 16px;
    height: 16px;
    background-color: $black;
    font-size: 9px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #ffffff;
    border-radius: 50%;
  }

  &.active {
    &::before {
      visibility: visible;
      background: rgba($black, 0.6);
    }
    & .header-cart__inner {
      right: 0;
      opacity: 1;
    }
  }
  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    visibility: hidden;
    background: rgba($black, 0);
  }
  &__icon {
    cursor: pointer;
  }
  &__inner {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -1000px;
    z-index: 1000;
    width: 100%;
    max-width: 450px;
    max-height: 100vh;
    background: #fff;
    opacity: 0;
    overflow-y: auto;

    box-shadow: 0px 4px 20px rgba(33, 31, 31, 0.1);
    &::-webkit-scrollbar {
      overflow-y: scroll;
      background: transparent;
      width: 3px;
      transition: linear 0.2s;
      box-shadow: 1px 0 0 #c4c4c4;
    }
    &::-webkit-scrollbar-thumb {
      background: gray;
      border-radius: 0;
      width: 3px;
      transition: linear 0.2s;
      cursor: grab;
    }
    & button {
      position: absolute;
      z-index: 1;
      padding: 0;
      top: 32px;
      right: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      border: none;
      background-color: transparent;
      &:hover {
        & svg path {
          fill: $accent;
        }
      }
    }
    &.empty .header-cart__top {
      border-bottom: none;
    }
    &.empty .header-cart__top > b {
      margin-bottom: 40px;
    }

    &.empty .header-cart__top > .no-exists {
      margin-bottom: 30px;
    }

    &.empty .header-cart__top .exists,
    &.empty .header-cart__bot {
      display: none !important;
    }
    &:not(.empty) .header-cart__top .no-exists {
      display: none;
    }
  }
  &__top {
    border-bottom: 1px solid $border;
    & b {
      display: block;
      margin-bottom: 10px;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.03em;
    }
    & span {
      display: block;
      margin-bottom: 16px;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.03em;
      color: $dark-gray;
    }
  }
  &__list {
    margin-bottom: 18px;

    & .header-cart-item {
      position: relative;
      display: flex;
      padding: 15px 0;
      border-bottom: 1px solid $border;
      & > .close {
        position: absolute;
        top: 15px;
        right: -5px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        opacity: 1;

        &:hover {
          & svg path {
            fill: $accent;
          }
        }
      }
      &__pic {
        align-self: start;
        flex-shrink: 0;
        width: 100%;
        max-width: 100px;
        margin-right: 15px;
        & picture {
          width: 100%;
          height: 100%;
          & img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
      &__about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        & a {
          display: block;
          margin-bottom: 3px;
          letter-spacing: 0.03em;
          color: $black;
          text-decoration: none;
          &:first-of-type {
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;
          }
          &:last-of-type {
            font-size: 14px;
            line-height: 17px;
            margin-bottom: 6px;
          }
          &:hover {
            color: $accent;
          }
        }
        & .characteristic {
          margin-bottom: 3px;
          font-size: 11px;
          line-height: 13px;
          letter-spacing: 0.03em;
          &:last-of-type {
            margin-bottom: 15px;
          }
          & span:first-child {
            color: $gray;
          }
          & span:last-child {
            font-weight: 500;
            color: $black;
          }
        }
        & .price {
          font-size: 14px;
          line-height: 17px;
          letter-spacing: 0.03em;
          & span:first-child {
            margin-right: 20px;
            text-decoration-line: line-through;
            color: rgba($black, 0.7);
          }
          & span:last-child {
            color: $black;
          }
        }
      }
    }
  }
  &__bot {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;
    & .text {
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.03em;
      color: $gray;
    }
    & .total {
      font-size: 18px;
      line-height: 22px;
      letter-spacing: 0.03em;
    }
  }
}

.header-cart__inner-main{
  padding: 30px;
}

.header-cart-order {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 40px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: $black;
  border: 1px solid $black;
  color: #ffffff;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    background-color: #ffffff;
    color: $black;
  }
  &:focus{
    text-decoration: none;
  }
}

.mobile-header {
  position: relative;
  & .header-cart {
    &__inner {
      max-width: 290px;
      padding: 13px 0;
      padding-left: 20px;
      padding-right: 15px;
      & > button {
        top: 5px;
        right: 8px;
        &:hover {
          & svg path {
            fill: $accent;
          }
        }
      }
    }
    &__about {
      & a {
        margin-bottom: 2px;
        font-size: 12px;
        line-height: 15px;
      }
    }
    &__list {
      margin-bottom: 15px;
    }
    &__bot {
      margin-bottom: 20px;
    }
    & .header-cart-order {
      min-height: 35px;
      font-size: 13px;
      line-height: 16px;
    }
  }
  & .header-fav {
    display: flex;
    margin-right: 40px;
    &::before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1000;
      visibility: hidden;
      background: rgba($black, 0);
    }
    @include bp(md) {
      margin-right: 13px;
    }
    &.empty.active {
      &::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 100;
        visibility: visible;
        background: rgba($black, 0.7);
      }
      & .header-fav__inner {
        display: block;
      }
    }
    &.empty {
      & .header-fav__icon path {
        fill: transparent;
      }
    }
    &__icon {
      cursor: pointer;
    }

    &__inner {
      position: fixed;
      top: 0;
      right: 0;
      display: none;
      width: 100%;
      max-width: 450px;
      height: 100vh;
      padding: 25px 30px;
      background: #fff;
      z-index: 100;
      @media (max-width: 991px) {
        max-width: 290px;
      }

      & > button {
        position: absolute;
        z-index: 1;
        right: 23px;
        top: 20px;
        background: transparent;
        border: none;
      }
    }
    & .header-fav__top {
      & b {
        display: block;
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 22px;
        font-weight: 400;
        letter-spacing: 0.03em;
      }
      & span {
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.03em;
      }
    }
  }
}

body.header-cart-open {
  overflow: hidden;
}
body.header-fav-open {
  overflow: hidden;
}

.header-menu {
  display: flex;
  justify-content: center;
  padding: 0 374px;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 5;
  @include bp(xxl) {
    padding: 0 270px;
  }
  @include bp(lg) {
    padding: 0;
    justify-content: flex-end;
  }
  > li {
    &:hover {
      .submenu {
        visibility: visible;
        opacity: 1;
        > div {
          visibility: visible;
          opacity: 1;
          transform: scaleX(1);
        }
      }
    }
    > a {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 24px 27px;
      position: relative;
      color: $black;
      text-decoration: none;
      font-size: 14px;
      line-height: 17px;
      text-transform: uppercase;
      &:hover,
      &.current {
        &:after {
          position: absolute;
          content: "";
          width: calc(100% - 54px);
          left: 27px;
          bottom: 0;
          height: 3px;
          background-color: $black;
        }
      }
    }
    &.sale {
      > a {
        color: $accent;
        &:hover,
        &.current {
          &:after {
            background-color: $accent;
          }
        }
      }
    }
  }
  .submenu {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid $border;
    visibility: hidden;
    opacity: 0.001;
    transition: all 400ms ease-in-out;
    > div {
      transition: all 400ms ease-in-out;
      visibility: hidden;
      opacity: 0.001;
      transform: scale3d(0.96, 0.96, 0.96);
      transform-origin: center top;
      width: 100%;
      background-color: #fff;
      padding: 50px;
      > ul {
        display: flex;
        justify-content: center;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.03em;
        &.wedding-dresses {
          > li {
            &:nth-child(1) {
              margin-right: 70px;
            }
            &:nth-child(2) {
              margin-right: 65px;
            }
            &:nth-child(3) {
              margin-right: 65px;
            }
            &:nth-child(4) {
              margin-right: 65px;
            }
          }
          .pic {
            margin-top: 23px;
            width: 195px;
            height: 130px;
          }
        }
        &.evening-dresses {
          > li {
            &:nth-child(1) {
              margin-right: 35px;
            }
            &:nth-child(2) {
              margin-right: 65px;
            }
            &:nth-child(3) {
              margin-right: 65px;
            }
            &:nth-child(4) {
              margin-right: 65px;
            }
          }
          .pic {
            margin-top: 23px;
            width: 195px;
            height: 130px;
          }
        }
        &.accessories {
          > li {
            &:nth-child(1) {
              margin-right: 70px;
              .pic {
                width: 120px;
                height: 81px;
                margin-top: 23px;
              }
            }
            &:nth-child(2) {
              margin-right: 55px;
            }
            &:nth-child(3) {
              margin-right: 75px;
            }
            &:nth-child(4) {
              .pic {
                width: 260px;
                height: 175px;
              }
              > a {
                text-align: center;
                display: block;
                margin-top: 10px;
                text-transform: uppercase;
                color: $black;
                text-decoration: none;
                &:hover {
                  color: $gray;
                  text-decoration: none;
                }
              }
            }
          }
        }
        &.sale {
          > li {
            &:nth-child(1) {
              margin-right: 95px;
            }
          }
          .pic {
            width: 260px;
            height: 175px;
          }
        }
        > li {
          &:last-child {
            margin-right: 0;
          }
          > ul {
            > li {
              margin-bottom: 16px;
              a {
                color: $black;
                text-decoration: none;
                &:hover {
                  color: $gray;
                  text-decoration: none;
                }
              }
            }
          }
        }
        .title {
          display: block;
          margin-bottom: 23px;
        }
        .pic {
          display: flex;
          picture {
            width: 100%;
            height: 100%;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
        .hashtag {
          display: block;
          margin-top: 16px;
          color: $black;
          text-decoration: none;
          &:hover {
            color: $gray;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.ps__rail-y {
  width: 6px;
  opacity: 1;
  left: auto !important;
  right: 0 !important;
}

.ps__thumb-y {
  background-color: rgba(117, 117, 117, 0.3);
  opacity: 1;
  box-shadow: none;
  width: 5px;
  right: 0;
  border-radius: 5px;
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  background-color: rgba(117, 117, 117, 0.3);
  width: 5px;
}

.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-x:focus,
.ps .ps__rail-x:hover,
.ps .ps__rail-y.ps--clicking,
.ps .ps__rail-y:focus,
.ps .ps__rail-y:hover {
  background: transparent;
}

.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
  opacity: 1;
}

.mobile-header {
  display: none;
  background-color: #fff;
  border-bottom: 1px solid $border;
  @include bp(md) {
    display: block;
  }
}

.mobile-header__alert {
  position: relative;
  padding: 7px 45px;
  min-height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $black;
  color: #fff;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.03em;
  p {
    margin-bottom: 0;
  }
}

.mobile-header__alert-close {
  position: absolute;
  cursor: pointer;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-header__wrapper {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-logo {
  display: flex;
}

.mobile-header__right {
  display: flex;
}

.mobile-menu__btn {
  display: none;
  overflow: hidden;
  padding: 0;
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: background 0.3s;
  position: relative;
  background-color: transparent;
  border: none;
  @include bp(md) {
    display: block;
  }
  span {
    display: block;
    position: absolute;
    top: 12px;
    left: 0;
    right: 0;
    height: 2px;
    background: $black;
    transition: background 0.3s;
    &:before {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $black;
      content: "";
      top: -6px;
      transition-duration: 0.3s, 0.3s;
      transition-delay: 0s, 0s;
      transition-property: top, transform;
    }
    &:after {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $black;
      content: "";
      bottom: -6px;
      transition-duration: 0.3s, 0.3s;
      transition-delay: 0.3s, 0s;
      transition-property: top, transform;
      border-radius: 1px;
    }
  }
  &.active {
    margin-left: 5px;
    width: 15px;
    height: 15px;
    span {
      top: 5px;
      background: none;
      &:before {
        top: 0;
        transform: rotate(45deg);
        transition-delay: 0s, 0.3s;
      }
      &:after {
        bottom: 0;
        transform: rotate(-45deg);
        transition-delay: 0s, 0.3s;
      }
    }
  }
}

// menu

.mobile-menu {
  display: none;
  position: fixed;
  z-index: 99;
  top: 81px;
  left: 0;
  right: 0;
  bottom: 0;

  overflow-y: auto;
  background-color: #ffffff;
  &::-webkit-scrollbar {
    overflow-y: scroll;
    background: transparent;
    width: 3px;
    transition: linear 0.2s;
    box-shadow: 1px 0 0 #c4c4c4;
  }
  &::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 0;
    width: 3px;
    transition: linear 0.2s;
    cursor: grab;
  }
  &.overflow {
    overflow-y: hidden;
  }
}
body.menu-opened {
  overflow: hidden;
}
body.menu-opened .mobile-menu {
  display: block;
}
body.menu-opened .mobile-header{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 100;
  width: 100%;
}

.mobile-menu__controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 42px;
  padding: 0 10px;
  border-bottom: 1px solid $border;
}
.mobile-menu__top {
  border-bottom: 1px solid $border;
}

.mobile-menu__list {
  background-color: #fff;
  padding: 25px 0;
  > li {
    margin-bottom: 20px;
    padding: 0 15px;
    cursor: pointer;
    &:last-child {
      margin-bottom: 0;
    }
    &.has-children {
      &.lvl1 {
        > span {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 12px;
          line-height: 15px;
          letter-spacing: 0.03em;
          text-transform: uppercase;
          cursor: pointer;
        }
      }
    }
    > span {
      display: flex;
      cursor: pointer;
    }
  }
}

.mobile-menu__lvl2 {
  display: none;
  position: fixed;
  z-index: 2;
  top: 123px;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: auto;
  background-color: #fff;
  cursor: default;
  &::-webkit-scrollbar {
    overflow-y: scroll;
    background: transparent;
    width: 3px;
    transition: linear 0.2s;
    box-shadow: 1px 0 0 #c4c4c4;
  }
  &::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 0;
    width: 3px;
    transition: linear 0.2s;
    cursor: grab;
  }
  &.show {
    display: block;
  }
  > .menu-back {
    position: relative;
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid $border;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    cursor: pointer;

    & svg {
      margin-right: 8px;
    }
    &:hover {
      color: $accent;
    }
  }
  > ul {
    padding-top: 5px;
    padding-bottom: 35px;
    border-bottom: 1px solid $border;
    > li {
      padding: 0 15px;
      > span {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        cursor: pointer;
        & svg {
          transform: rotate(45deg);
          transition: transform 0.5s;
        }
        &.active {
          & svg {
            transform: rotate(0);
          }
        }
      }

      > ul {
        > li {
          > a {
            display: block;
            padding: 7px 0;
            padding-left: 22px;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 0.03em;
            color: $dark-gray;
            text-decoration: none !important;
            &:hover {
              color: $accent;
            }
          }
        }
      }
    }
  }
}

.mobile-menu__middle {
  padding: 0 15px;
  padding-top: 5px;
  background-color: #fff;
  cursor: default;
  & ul {
    margin-bottom: 5px;
    & li {
      & a {
        display: flex;
        align-items: center;
        padding: 10px 0;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.03em;
        color: $black;
        text-decoration: none;
        &:hover {
          color: $accent;
        }
        & svg {
          margin-right: 20px;
        }
      }
    }
  }
}

.mobile-menu__middle-reg {
  padding-top: 25px;
  padding-bottom: 35px;
  > span {
    display: block;
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  > a {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 290px;
    min-height: 35px;
    margin: 0 auto;
    padding: 5px 10px;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    border: 1px solid $black;
    text-decoration: none !important;
    &:nth-of-type(1) {
      margin-bottom: 10px;
      color: #fff !important;
      background-color: $black;
      &:hover {
        color: $black !important;
        background-color: #fff;
      }
    }
    &:nth-of-type(2) {
      color: $black !important;
      &:hover {
        background-color: $black;
        color: #fff !important;
      }
    }
  }
}

.mobile-menu__bot {
  border-top: 1px solid $border;
  padding: 25px 15px;
  background-color: #fff;
  cursor: default;
  & > ul {
    & > li {
      margin-bottom: 23px;
      & a {
        display: flex;
        align-items: center;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.03em;
        color: $black;
        text-decoration: none;
        & i {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 27px;
          margin-right: 9px;
        }
      }
      & span {
        display: flex;
        align-items: center;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.03em;
        color: $black;
        cursor: pointer;
        &:hover {
          color: $accent;
        }

        & i {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 27px;
          margin-right: 9px;
        }
        & > svg {
          transition: transform 0.5s;
          margin-left: auto;
        }
        &.active {
          & > svg {
            transform: rotate(-45deg);
          }
        }
      }
      > ul {
        padding-top: 20px;
        > li {
          margin-bottom: 15px;
          & a {
            display: flex;
            align-items: center;
            padding-left: 30px;
            color: $dark-gray;
            &:hover {
              color: $accent;
            }
            & i {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 25px;
              margin-right: 18px;
            }
          }
        }
      }
    }
  }
}
