.mfp-bg {
  background: rgba(17, 17, 17, 0.5);
}

.popup {
  position: relative;
  margin: 0 auto;
  width: 536px;
  max-width: calc(100vw - 30px);
  background: #fff;
  padding: 60px 54px 54px;
  max-height: 100vh;
  overflow: auto;
  .mfp-close {
    width: 24px;
    height: 24px;
    right: 26px;
    top: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    opacity: 1;
    cursor: pointer;
    @include bp(xs) {
      right: 15px;
      top: 28px;
    }
    svg {
      pointer-events: none;
      path {
        transition: linear 0.2s;
      }
    }
    &:hover {
      svg {
        path {
        }
      }
    }
  }
}

.swal2-modal {
  width: 536px;
  max-width: calc(100vw - 30px);
  background: #fff;
  padding: 60px 54px 54px !important;
  max-height: 100vh;
  overflow: auto;
  border-radius: 0;
  @include bp(xs) {
    position: fixed !important;
    top: 0 !important;
    max-width: 100vw;
    padding: 60px 26px !important;
  }
  .swal2-title {
    //font-family: $title !important;
    font-size: 28px;
    line-height: 32px;
    display: block;
    text-align: center;
    margin-bottom: 15px;
    color: #000;
    position: relative;
    font-weight: 400;
  }
  .swal2-content {
    //font-family: $default !important;
    font-weight: normal;
    color: #000;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
  }
  .swal2-buttonswrapper {
    margin-top: 0;
  }
  .swal2-styled {
    display: none !important;
    &.swal2-cancel {
      display: block !important;
      width: 24px;
      height: 24px;
      position: absolute;
      top: 20px;
      right: 20px;
      margin: 0;
      background-color: transparent !important;
      border-color: transparent !important;
      line-height: 1;
      font-size: 0;
      opacity: 1;
      padding: 0;
    }
  }
}

.swal2-icon {
  display: none !important;
}

// about
.popup-content {
  max-height: 100vh;
  overflow: auto;
  background: #fff;
  max-width: 450px;
  margin: 0 auto;
  padding: 60px;
  padding-bottom: 50px;
  @media (max-width: 575px) {
    max-width: calc(100vw - 30px);
    padding: 40px;
    padding-top: 30px;
  }

  & span {
    display: block;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    @media (max-width: 575px) {
      margin-bottom: 20px;
    }
  }

  & form {
    flex-grow: 1;
    max-width: 330px;
    @media (max-width: 767px) {
      width: 100%;
    }

    & p {
      margin: 0;
      margin-bottom: 40px;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.03em;
      @media (max-width: 575px) {
        margin-bottom: 20px;
        font-size: 12px;
        line-height: 15px;
      }
    }

    & .input-wrapper {
      height: 45px;
      margin-bottom: 20px;
      @media (max-width: 575px) {
        margin-bottom: 5px;
        height: 40px;
      }
      &.err {
        position: relative;
        & input {
          border-bottom: 1px solid $accent;
        }
        & .validate-error {
          position: absolute;
          right: 0;
          top: 43px;
          @media (max-width: 575px) {
            top: 28px;
          }
          width: fit-content;
        }
      }

      &:last-of-type {
        margin-bottom: 50px;
        @media (max-width: 767px) {
          margin-bottom: 30px;
        }
        @media (max-width: 575px) {
          margin-bottom: 25px;
        }
      }
      & input {
        width: 100%;
        margin: 0;
        padding: 12px 0;
        padding-right: 12px;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.03em;
        border: none;
        border-bottom: 1px solid $border;
        background: none;
        color: $dark-gray;
        @media (max-width: 575px) {
          padding: 5px 0;
          font-size: 12px;
          line-height: 15px;
        }
      }
    }
    & button.btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 266px;
      height: 40px;
      margin: 0 auto;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      font-weight: normal;
      letter-spacing: 0.03em;
      text-transform: none;
      background-color: $black;
      color: #fff;
      border-radius: 0;
      outline: none;
      @media (max-width: 575px) {
        max-width: 100%;
        width: 100% !important;
        font-size: 13px;
        line-height: 16px;
      }
      &:hover {
        background-color: transparent;
        color: #000;
        border: 1px solid #000;
      }
      @media (max-width: 575px) {
        width: 140px;
        height: 35px;
      }
    }
  }
}

// delete product

.delete-product {
  max-height: 100vh;
  overflow: auto;
  background: #fff;
  max-width: 450px;
  margin: 0 auto;
  padding: 60px;
  padding-bottom: 75px;
  @media (max-width: 575px) {
    max-width: calc(100vw - 30px);
    padding: 40px;
    padding-top: 30px;
  }
  & p {
    margin: 0;
    margin-bottom: 45px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    @media (max-width: 767px) {
      margin-bottom: 30px;
      font-size: 17px;
    }
  }
  & .delete-product-btn {
    display: flex;
    justify-content: center;
    gap: 8px;
    & a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 160px;
      height: 40px;
      font-size: 16px;
      line-height: 20px;
      border: 1px solid $black;
      text-decoration: none;
      @media (max-width: 767px) {
        font-size: 14px;
      }
      &:first-child {
        color: #ffffff;
        background-color: $black;
        &:hover {
          background-color: #ffffff;
          color: $black;
        }
      }
      &:last-child {
        background-color: #ffffff;
        color: $black;
        &:hover {
          color: #ffffff;
          background-color: $black;
        }
      }
    }
  }
}

.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;
  transition: all 0.4s ease-in-out;
  transform: translateY(-40px);
  // transform: scale(0.8);
}

.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  // transform: scale(1);
  transform: translateY(0);
}

.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  // transform: scale(0.8);
  transform: translateY(-40px);
  opacity: 0;
}
.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}
.my-mfp-zoom-in.mfp-ready.mfp-bg {
  background: #211f1f;
  opacity: 0.4;
}
.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}
