.product-section {
  padding-bottom: 75px;
  @include bp(xs) {
    padding-bottom: 40px;
  }
}

.product-main__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  @include bp(md) {
    flex-direction: column;
  }
}

.product-pics {
  display: flex;
  flex-wrap: wrap;
  width: 910px;
  margin: 0 -5px;
  @include bp(xxl) {
    width: 66.66666%;
  }
  @include bp(md) {
    width: auto;
  }
  @include bp(xs) {
    display: none;
  }
  &__hidden {
    display: none;
    @include bp(xs) {
      display: block;
      width: 100%;
      margin: 0;
    }
    .slick-list {
      height: calc(145vw - 30px);
      overflow: hidden;
    }
    .col {
      height: calc(145vw - 30px);
    }
    .slick-dots {
      display: flex;
      justify-content: center;
      margin: 10px auto 0;
      li {
        display: flex;
        margin: 0 2px;
        &.slick-active {
          button {
            background: $black;
          }
        }
        button {
          border: none;
          border-radius: 50%;
          font-size: 0;
          padding: 0;
          width: 6px;
          height: 6px;
          background: rgba(117, 117, 117, 0.3);
        }
      }
    }
  }
  > .col {
    width: 50%;
    height: 675px;
    margin-bottom: 10px;
    padding: 0 5px;
    @include bp(xxxl) {
      height: 44vw;
    }
    @include bp(md) {
      height: 67vw;
    }
  }
}

.product-pic {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  > picture {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  video {
    width: 100%;
    height: 100%;
    display: none;
    cursor: pointer;
  }
}

.product-item__labels {
  position: absolute;
  top: 20px;
  left: 30px;
  pointer-events: none;
  z-index: 3;
  @include bp(xs) {
    left: 20px;
  }
}

.product-item__label {
  width: 60px;
  height: 60px;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.03em;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.65);
  color: $black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 5px;
  @include bp(xs) {
    width: 40px;
    height: 40px;
    font-size: 11px;
    line-height: 13px;
  }
}

.product-video__play {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  pointer-events: none;
}

#lg-download {
  display: none;
}

.product-item__zoom {
  position: absolute;
  pointer-events: none;
  right: 20px;
  bottom: 14px;
}

.product-video__mob {
  display: none;
  height: calc(94vw - 30px);
  width: 100%;
  margin-top: 15px;
  @include bp(xs) {
    display: block;
  }
}

.product-sidebar {
  width: 450px;
  position: sticky;
  top: 0;
  padding-top: 15px;
  margin-top: -15px;
  @include bp(xxl) {
    width: 33.33333%;
  }
  @include bp(md) {
    width: 100%;
    position: static;
    margin-top: 0;
  }
  @include bp(xs) {
    padding-top: 10px;
  }
}

.product-sidebar__nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
  @include bp(xxl) {
    width: calc(100% - 30px);
    margin-left: auto;
    margin-right: auto;
  }
  @include bp(md) {
    width: 100%;
    margin-bottom: 30px;
  }
  @include bp(xs) {
    margin-bottom: 20px;
  }
  > a {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.03em;
    color: $gray;
    text-decoration: none;
    @include bp(xs) {
      font-size: 10px;
      line-height: 12px;
    }
    &:hover {
      color: $black;
      text-decoration: none;
      svg {
        path {
          fill: $black;
        }
      }
    }
    svg {
      @include bp(xs) {
        width: 11px;
        height: 11px;
      }
    }
    &.prev {
      svg {
        margin-right: 10px;
        @include bp(xs) {
          margin-right: 5px;
        }
      }
    }
    &.next {
      svg {
        margin-left: 10px;
        @include bp(xs) {
          margin-left: 5px;
        }
      }
    }
  }
}

.product-sidebar__inner {
  padding: 0 27px;
  @include bp(md) {
    padding: 0;
  }
}

.product-brand {
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 7px;
}

.product-title {
  display: block;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  @include bp(xs) {
    font-size: 21px;
    line-height: 26px;
  }
}

.product-prices {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 20px;
  width: 240px;
  @include bp(xs) {
    width: 200px;
  }
  > span {
    min-width: 90px;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    margin: 0 auto;
    &.old {
      text-decoration: line-through;
      color: rgba($black, 0.7);
    }
  }
}

.product-extra {
  text-align: center;
  margin-top: -8px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  @include bp(xs) {
    font-size: 13px;
    line-height: 16px;
    margin-top: -10pxs;
  }
}

.product-color__wrapper {
  border-top: 1px solid rgba($gray, 0.3);
}

.product-color__head {
  padding: 11px 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  @include bp(xs) {
    padding-top: 15px;
  }
  &.open {
    .product-color {
      svg {
        transform: scale(1, -1);
      }
    }
  }
}

.product-color {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  display: flex;
  @include bp(xs) {
    font-size: 13px;
    line-height: 16px;
  }
  span {
    font-weight: 500;
    padding-left: 6px;
    padding-right: 3px;
    @include bp(xs) {
      padding-right: 7px;
    }
  }
  svg {
    @include bp(xs) {
      width: 13px;
      height: 13px;
      position: relative;
      bottom: -2px;
    }
  }
}

.product-colors__variation {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.03em;
  @include bp(xs) {
    font-size: 11px;
    line-height: 13px;
  }
}

.product-color__body {
  margin-top: -9px;
  @include bp(xs) {
    margin-top: -4px;
  }
}

.product-colors__list {
  display: flex;
  flex-wrap: wrap;
  li {
    margin-right: 20px;
    margin-bottom: 15px;
    width: 85px;
    height: 104px;
    @include bp(xs) {
      margin-right: 10px;
    }
    i {
      display: none;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #fff;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 5px;
      bottom: 5px;
    }
    &.checked {
      i {
        display: flex;
      }
    }
    a {
      display: flex;
      width: 100%;
      height: 100%;
      position: relative;
      picture {
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

.product-size__wrapper {
  border-top: 1px solid rgba($gray, 0.3);
}

.product-size__head {
  padding: 11px 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include bp(xs) {
    padding-top: 15px;
  }
  &.open {
    .product-size {
      svg {
        transform: scale(1, -1);
      }
    }
  }
}

.product-size {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  cursor: pointer;
  @include bp(xs) {
    font-size: 13px;
    line-height: 16px;
  }
  span {
    font-weight: 500;
    padding-left: 6px;
    padding-right: 3px;
  }
  svg {
    margin-left: 4px;
    @include bp(xs) {
      margin-left: 9px;
      width: 13px;
      height: 13px;
      position: relative;
      bottom: -1px;
    }
  }
}

.product-sizes__table-btn {
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.03em;
  text-decoration: underline;
  cursor: pointer;
  color: $gray;
  display: flex;
  align-items: center;
  svg {
    margin-right: 9px;
    @include bp(xs) {
      margin-right: 6px;
    }
  }
  &:hover {
    color: $black;
    svg {
      path {
        fill: $black;
      }
    }
  }
}

.product-size__body {
  padding-top: 6px;
}

.product-size__body-wrapper {
  display: flex;
}

.product-size__name {
  width: 102px;
  @include bp(xs) {
    width: 105px;
  }
  > span {
    display: block;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.03em;
    margin-bottom: 6px;
    @include bp(xs) {
      font-size: 13px;
      line-height: 16px;
      margin-bottom: 3px;
    }
  }
  > p {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.03em;
    color: $gray;
    margin-bottom: 0;
    @include bp(xs) {
      font-size: 11px;
      line-height: 13px;
    }
  }
}

.product-size__list {
  width: calc(100% - 102px);
  display: flex;
  flex-wrap: wrap;
  margin-top: -9px;
  li {
    margin: 0 8px 8px 0;
    position: relative;
    &:hover {
      .product-size__tooltip {
        opacity: 1;
        visibility: visible;
        bottom: calc(100% + 16px);
      }
      > a {
        > div {
          color: $dark-gray;
        }
      }
    }
    &.not-available {
      pointer-events: none;
      > a {
        > div {
          color: rgba($gray, 0.4);
        }
      }
    }
    &.checked{
      > a {
        border-color: $black;
      }
    }
    > a {
      text-decoration: none;
      display: block;
      border: 1px solid transparent;
      width: 52px;
      min-width: max-content;
      height: 50px;
      border-radius: 3px;
      padding: 8px 4px;
      &:hover {
        text-decoration: none;
      }
      > div {
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.03em;
        margin-bottom: 4px;
        display: flex;
        align-items: flex-end;
        color: $black;
        svg {
          position: relative;
          bottom: -1px;
        }
      }
      > p {
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.03em;
        color: $gray;
        margin-bottom: 0;
      }
    }
  }
}

.product-size__tooltip {
  position: absolute;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  bottom: calc(100% + 27px);
  right: -23px;
  transition: linear 0.2s;
  background-color: #fff;
  filter: drop-shadow(0px 4px 20px rgba(33, 31, 31, 0.1));
  padding: 9px 18px;
  letter-spacing: 0.03em;
  &:before {
    position: absolute;
    content: "";
    border-top: 13px solid #fff;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    top: 100%;
    right: 33px;
  }
  > div {
    display: flex;
    font-size: 14px;
    line-height: 17px;
    color: $black;
    margin-bottom: 6px;
    span {
      margin-right: 4px;
    }
  }
  > ul {
    li {
      display: flex;
      font-size: 10px;
      line-height: 12px;
      margin-bottom: 5px;
      span {
        width: 80px;
        min-width: 80px;
        color: $gray;
      }
      p {
        color: $black;
        margin-bottom: 0;
      }
    }
  }
}

.product-banks__wrapper {
  border-top: 1px solid rgba($gray, 0.3);
  padding-top: 13px;
  @include bp(xs) {
    padding-top: 15px;
  }
}

.product-banks__list {
  display: flex;
  justify-content: center;
  position: relative;
  &:hover {
    .product-banks__tooltip {
      opacity: 1;
      visibility: visible;
      bottom: calc(100% - 10px);
    }
  }
  > span {
    display: flex;
    margin: 0 16px 15px;
    height: 42px;
    max-height: 42px;
    picture {
      height: 100%;
      img {
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

.product-banks__tooltip {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  bottom: calc(100% + 2px);
  left: 50%;
  transform: translateX(-50%);
  transition: linear 0.2s;
  background-color: #fff;
  filter: drop-shadow(0px 4px 20px rgba(33, 31, 31, 0.1));
  padding: 16px;
  letter-spacing: 0.03em;
  width: 322px;
  @include bp(xs) {
    width: 296px;
  }
  &:before {
    position: absolute;
    content: "";
    border-top: 13px solid #fff;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.product-banks__tooltip-item {
  width: 100px;
  text-align: center;
  > div {
    margin: 0 auto;
    height: 30px;
  }
  > span {
    display: block;
    font-size: 12px;
    line-height: 15px;
    color: $black;
    margin-bottom: 4px;
  }
  > small {
    display: block;
    font-size: 10px;
    line-height: 12px;
    color: $gray;
  }
}

.product-people__online {
  border-top: 1px solid rgba($gray, 0.3);
  padding: 15px 0 20px;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.03em;
  text-align: center;
  @include bp(xs) {
    padding-bottom: 15px;
  }
}

.product-buttons {
  .btn {
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 78px;
    height: 40px;
    font-size: 16px;
    line-height: 20px;
    border: 1px solid $black;
    background-color: #fff;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    transition: linear 0.2s;
    text-decoration: none;
    @include bp(xxl) {
      padding: 0 10px;
      justify-content: center;
    }
    @include bp(xs) {
      font-size: 13px;
      line-height: 16px;
      height: 35px;
      margin-bottom: 10px;
    }
    &:focus {
      text-decoration: none;
      outline: none;
      box-shadow: none;
    }
    &:hover {
      text-decoration: none;
      box-shadow: none;
      color: #fff;
      background-color: $black;
      svg {
        path {
          fill: #fff;
        }
      }
    }
    svg {
      margin-right: 20px;
      @include bp(xs) {
        width: 17px;
        margin-right: 13px;
      }
    }
    span {
      @include bp(xxl) {
        width: 205px;
        text-align: left;
      }
      @include bp(xs) {
        width: 165px;
      }
    }
    &.btn-filled {
      background-color: $black;
      color: #fff;
      &:hover {
        background-color: #fff;
        color: $black;
        svg {
          path {
            fill: $black;
          }
        }
      }
    }
    &.btn-cart {
      @include bp(xs) {
        display: none;
      }
      &__mob {
        display: none;
        @include bp(xs) {
          display: flex;
        }
      }
    }
  }
}

.product-id {
  padding: 5px 0 20px;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.03em;
  @include bp(xs) {
    padding-top: 18px;
  }
  span {
    color: $gray;
  }
}

.product-info {
  border-top: 1px solid rgba($gray, 0.3);
  > li {
    border-bottom: 1px solid rgba($gray, 0.3);
  }
}

.product-info__head {
  display: flex;
  align-items: center;
  height: 48px;
  cursor: pointer;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  padding-right: 34px;
  position: relative;
  @include bp(xs) {
    height: 45px;
    font-size: 13px;
    line-height: 16px;
  }
  &.open {
    .after {
      &:after {
        transform: rotate(0);
      }
    }
  }
  i {
    width: 30px;
    display: flex;
    justify-content: center;
    margin-right: 10px;
    @include bp(xs) {
      width: 34px;
      margin-right: 8px;
    }
  }
  .after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 14px;
    width: 9px;
    height: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:before {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      background-color: $dark-gray;
    }
    &:after {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      background-color: $dark-gray;
      transform: rotate(-90deg);
    }
  }
}

.product-info__body {
  display: none;
  padding: 10px 0;
  @include bp(xs) {
    padding: 7px 0;
  }
}

.product-specs {
  padding-bottom: 15px;
  table {
    border: none;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    @include bp(xs) {
      font-size: 12px;
      line-height: 15px;
    }
    tr {
      td {
        padding: 5px;
        color: $black;
        &:first-child {
          min-width: 120px;
          color: $gray;
          padding-left: 0;
        }
        a {
          color: $black;
          text-decoration: underline;
          &:hover {
            color: $dark-gray;
            text-decoration: none;
          }
        }
      }
    }
  }
}

.product-delivery {
  list-style-type: disc;
  padding-left: 18px;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  padding-bottom: 10px;
  @include bp(xs) {
    font-size: 12px;
    line-height: 15px;
    padding-top: 7px;
  }
  li {
    margin-bottom: 10px;
    @include bp(xs) {
      margin-bottom: 13px;
    }
    a {
      color: $black;
      text-decoration: underline;
      &:hover {
        color: $dark-gray;
        text-decoration: none;
      }
    }
  }
}

.product-share {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  @include bp(xs) {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  li {
    margin-right: 20px;
    a {
      display: flex;
      position: relative;
      &:hover {
        svg {
          * {
            fill: $gray;
          }
        }
      }
      span {
        position: absolute;
        width: max-content;
        left: calc(100% + 5px);
        top: 50%;
        transform: translateY(-50%);
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.03em;
        color: $gray;
      }
    }
  }
}

.product-rent {
  padding-bottom: 40px;
  letter-spacing: 0.03em;
  @include bp(xs) {
    padding-top: 17px;
    padding-bottom: 30px;
  }
}

.product-rent__head {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 20px;
  @include bp(xs) {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 12px;
  }
  span {
    + span {
      @include bp(xs) {
        font-size: 14px;
        line-height: 17px;
      }
    }
  }
}

.product-rent__descr {
  font-size: 14px;
  line-height: 17px;
  color: $dark-gray;
  margin-bottom: 30px;
  @include bp(xs) {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 15px;
  }
  p {
    margin-bottom: 0;
  }
}

.product-rent__btn {
  width: 100%;
  cursor: pointer;
  transition: linear 0.2s;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid $black;
  color: $black;
  font-size: 16px;
  line-height: 20px;
  @include bp(xs) {
    height: 35px;
    font-size: 13px;
    line-height: 16px;
  }
  &:hover {
    background-color: $black;
    color: #fff;
  }
}

.product-sizes__table-menu {
  width: 755px;
  max-width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -755px;
  z-index: 10;
  min-height: 100vh;
  overflow: auto;
  transition: ease-in-out 0.3s;
  box-shadow: 0 4px 20px rgba(33, 31, 31, 0.1);
  letter-spacing: 0.03em;
  display: flex;
  flex-direction: column;
  @include bp(md) {
    width: 100%;
    right: -1000px;
  }
  &.active {
    right: 0;
  }
  &::-webkit-scrollbar {
    overflow-y: scroll;
    background: transparent;
    width: 3px;
    transition: linear 0.2s;
    box-shadow: 1px 0 0 #c4c4c4;
  }
  &::-webkit-scrollbar-thumb {
    background: $gray;
    border-radius: 0;
    width: 3px;
    transition: linear 0.2s;
    cursor: grab;
  }
}

.product-sizes__close {
  cursor: pointer;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    svg {
      path {
        fill: $gray;
      }
    }
  }
}

.product-sizes__main {
  flex: 1 0 auto;
  padding: 35px 58px 40px 58px;
  @include bp(sm) {
    padding: 35px 30px 30px;
  }
  @include bp(xs) {
    padding: 35px 15px 10px;
  }
}

.product-sizes__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: $black;
  text-transform: uppercase;
  display: block;
  margin-bottom: 24px;
  @include bp(xs) {
    flex-direction: 18px;
    line-height: 22px;
    margin-bottom: 15px;
  }
}

.product-sizes__top {
  display: flex;
  height: 310px;
  margin-bottom: 50px;
  @include bp(xs) {
    height: auto;
    margin-bottom: 30px;
    flex-direction: column;
  }
}

.product-sizes__top-pic {
  width: 208px;
  min-width: 208px;
  height: 100%;
  display: flex;
  @include bp(xs) {
    height: 310px;
  }
  picture {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.product-sizes__top-info {
  padding-top: 86px;
  padding-left: 45px;
  @include bp(xs) {
    padding-top: 20px;
    padding-left: 0;
  }
  span {
    font-size: 14px;
    line-height: 17px;
    display: block;
    margin-bottom: 3px;
  }
  p {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 33px;
  }
  a {
    font-size: 14px;
    line-height: 17px;
    color: $black;
    text-decoration: underline;
    &:hover {
      color: $gray;
    }
  }
}

.product-sizes__table {
  width: 614px;
  max-width: 100%;
}

.product-sizes__table-head {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 16px;
  > div {
    width: 100px;
    padding: 0 15px 0 5px;
    word-break: break-word;
    text-align: center;
    &:nth-child(2) {
      padding: 0;
    }
    @include bp(xs) {
      display: none;
      width: 30%;
    }
    &.product-sizes__tabs-wrapper {
      width: 113px;
      padding: 0;
      @include bp(xs) {
        width: 40%;
      }
    }
    &:nth-child(-n + 3) {
      @include bp(xs) {
        display: block;
      }
    }
  }
}

.product-sizes__tabs-wrapper {
  position: relative;
  &.open {
    ul {
      display: block;
    }
    .product-sizes__tabs-checked {
      svg {
        transform: scale(1, -1);
      }
    }
  }
  ul {
    display: none;
    position: absolute;
    left: 0;
    top: calc(100% - 1px);
    width: 100%;
    border: 1px solid $border;
    background-color: #fff;
    z-index: 1;
    li {
      cursor: pointer;
      font-size: 12px;
      line-height: 16px;
      color: $gray;
      padding: 5px 10px;
      text-align: left;
      &:hover {
        background: rgba(229, 229, 229, 0.5);
      }
    }
  }
}

.product-sizes__tabs-checked {
  position: relative;
  height: 30px;
  padding: 6px 20px 6px 10px;
  border: 1px solid $border;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  color: $black;
  cursor: pointer;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  svg {
    position: absolute;
    right: 6px;
    top: 10px;
    pointer-events: none;
  }
}

.product-sizes__table-body {
  width: 100%;
  display: none;
  position: relative;
  &.active {
    display: block;
  }
  table {
    font-size: 12px;
    line-height: 16px;
    color: $dark-gray;
    width: 100%;
    tr {
      td {
        width: 100px;
        border: 1px solid $border;
        height: 35px;
        text-align: center;
        @include bp(xs) {
          display: none;
          width: 30%;
        }
        &:nth-child(3) {
          width: 110px;
          @include bp(xs) {
            width: 40%;
          }
        }
        &:nth-child(-n + 3) {
          @include bp(xs) {
            display: table-cell;
          }
        }
      }
    }
  }
}

.product-sizes__bot {
  height: 80px;
  background-color: $bg-gray;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $black;
  padding: 10px 128px;
  @include bp(xs) {
    padding: 10px 15px;
    font-size: 12px;
    line-height: 15px;
  }
  div {
    width: 500px;
    max-width: 100%;
    span {
      text-decoration: underline;
      cursor: pointer;
      &:hover {
        color: $gray;
      }
    }
  }
}

.similar-section {
  padding: 45px 0 25px;
  @include bp(xs) {
    padding: 20px 0 30px;
  }
}

.similar-head {
  min-height: 51px;
  position: relative;
  padding: 0 115px 10px;
  @include bp(xs) {
    padding: 0 30px 15px;
  }
}

.similar-title {
  font-family: $CormorantSC;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  display: block;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  @include bp(xs) {
    font-size: 16px;
    line-height: 19px;
  }
}

.similar-navigation {
  display: flex;
  position: absolute;
  top: 4px;
  right: 0;
  @include bp(xs) {
    display: none;
  }
  .slider-counter {
    width: 80px;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    position: relative;
    top: -1px;
  }
  .slider-arrow {
    cursor: pointer;
    display: flex;
    &:hover {
      svg {
        path {
          fill: $black;
        }
      }
    }
  }
}

.similar-slider__wrapper {
  @include bp(xs) {
    width: calc(100vw - 15px);
    overflow-x: auto;
  }
}

.similar-slider {
  margin: 0 -5px;
  @include bp(xs) {
    margin: 0;
    display: flex;
  }
  &.four-items {
    .slick-slide {
      .catalog-item__pic {
        height: 490px;
        @include bp(xxl) {
          height: 33.5vw;
        }
        @include bp(lg) {
          height: 45vw;
        }
        @include bp(md) {
          height: 67vw;
        }
      }
      .catalog-item__info {
        height: 140px;
      }
    }
  }
  .slick-slide {
    padding: 0 5px;
    .catalog-item__pic {
      height: 680px;
      @include bp(xxl) {
        height: 45vw;
      }
      @include bp(md) {
        height: 67vw;
      }
    }
    .catalog-item__info {
      height: 150px;
    }
  }
  .slick-list {
    padding-bottom: 20px;
  }
  .catalog-item {
    @include bp(xs) {
      width: 64vw;
      min-width: 64vw;
      margin-right: 10px;
    }
  }
  .catalog-item__pic {
    @include bp(xs) {
      height: 94vw;
    }
  }
  .catalog-item__info {
    @include bp(xs) {
      height: 90px;
      padding: 8px;
    }
  }
  .catalog-item__brand {
    @include bp(xs) {
      font-size: 10px;
      line-height: 12px;
      margin-bottom: 5px;
    }
  }
  .catalog-item__title {
    @include bp(xs) {
      font-size: 13px;
      line-height: 16px;
      margin-bottom: 6px;
    }
  }
  .catalog-item__price {
    @include bp(xs) {
      font-size: 13px;
      line-height: 17px;
    }
    span {
      @include bp(xs) {
        margin: 0 6px;
      }
    }
  }
}

.product-reviews__section {
  min-height: 300px;
  padding: 33px 0 80px;
  background: $bg-gray;
  margin-bottom: -1px;
  position: relative;
  z-index: 1;
  @include bp(xs) {
    min-height: unset;
    padding: 15px 0 22px;
  }
  &.has-reviews {
    .product-reviews__text {
      opacity: 0;
      visibility: hidden;
    }
  }
}

.product-reviews__title {
  display: block;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.03em;
  margin-bottom: 42px;
  @include bp(xs) {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 12px;
  }
}

.product-reviews__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  margin-bottom: -5px;
  @include bp(sm) {
    margin-bottom: 25px;
  }
  @include bp(xs) {
    font-size: 12px;
    line-height: 15px;
  }
}

.product-reviews__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  width: 450px;
  max-width: 100%;
  height: 50px;
  border: 1px solid $black;
  margin: 0 auto 50px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  transition: linear 0.2s;
  @include bp(md) {
    width: 330px;
  }
  @include bp(xs) {
    width: 230px;
    font-size: 12px;
    line-height: 15px;
    height: 35px;
    margin-bottom: 20px;
  }
  &:hover {
    background-color: $black;
    color: #fff;
  }
}

.product-reviews__form-wrapper {
  padding-top: 20px;
  display: none;
  @include bp(xs) {
    padding-bottom: 20px;
  }
}

.product-reviews__form-title {
  display: block;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  margin-bottom: 26px;
  @include bp(xs) {
    font-size: 14px;
    line-height: 17px;
  }
}

.product-reviews__form {
  width: 750px;
  max-width: 100%;
  .input-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    @include bp(xs) {
      margin-bottom: 25px;
    }
    .input {
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.03em;
      padding: 12px 0;
      border-color: rgba($gray, 0.3);
      @include bp(xs) {
        padding: 6px 0;
        font-size: 12px;
        line-height: 15px;
      }
      &::placeholder {
        color: $dark-gray;
      }
      &:focus {
        &::placeholder {
          color: transparent;
        }
      }
    }
  }
  .product-reviews__form-row {
    display: flex;
    + .product-reviews__form-row {
      @include bp(xs) {
        flex-direction: column;
      }
      .input-wrapper {
        @include bp(xs) {
          width: 100%;
        }
      }
    }
    .input-wrapper {
      width: 50%;
      padding-right: 45px;
      @include bp(xs) {
        padding-right: 0;
      }
    }
  }
  .checkbox-wrapper {
    margin-top: -13px;
    @include bp(xs) {
      margin-top: -3px;
    }
    input {
      display: none;
      &:checked {
        + label {
          &:after {
            display: block;
          }
        }
      }
      + label {
        position: relative;
        font-size: 12px;
        line-height: 15px;
        font-weight: 400;
        color: $dark-gray;
        letter-spacing: 0.03em;
        margin-bottom: 0;
        padding-left: 23px;
        cursor: pointer;
        &:before {
          position: absolute;
          content: "";
          left: 0;
          top: 3px;
          width: 10px;
          height: 10px;
          border: 1px solid rgba($black, 0.5);
        }
        &:after {
          display: none;
          position: absolute;
          content: "";
          left: 3px;
          top: 6px;
          width: 4px;
          height: 4px;
          background-color: $black;
        }
      }
    }
  }
  .btn {
    margin-top: 55px;
    width: 266px;
    height: 40px;
    background: $black;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    border: 1px solid $black;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: none;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: linear 0.2s;
    @include bp(xs) {
      margin-top: 45px;
      height: 35px;
      font-size: 13px;
      line-height: 16px;
      width: 100%;
    }
    &:hover {
      background-color: transparent;
      color: $black;
    }
  }
}

.rating-wrapper {
  display: flex;
  align-items: center;
  @include bp(xs) {
    flex-direction: column;
    align-items: flex-start;
  }
  > span {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.03em;
    color: $dark-gray;
    margin-right: 20px;
    @include bp(xs) {
      margin-right: 0;
      margin-bottom: 18px;
    }
  }
}

.rating > input ~ label {
  cursor: pointer;
}

.rating > input {
  display: none;
}

.rating > label svg {
  display: block;
}

.rating > label {
  float: right;
  padding-right: 3px;
  margin-bottom: 0;
}

.rating:not(:checked) > label:hover svg,
.rating:not(:checked) > label:hover ~ label svg,
.rating > input:checked + label:hover svg,
.rating > input:checked ~ label svg,
.rating > input:checked ~ label:hover svg,
.rating > input:checked ~ label:hover ~ label svg,
.rating > label:hover ~ input:checked ~ label svg {
  fill: $dark-gray;
}

.rating > input:checked ~ label svg {
  fill: $dark-gray;
}

.rating-stars {
  display: flex;
  align-items: center;
  > span {
    font-size: 12px;
    line-height: 15px;
    color: $dark-gray;
    letter-spacing: 0.03em;
    margin-right: 20px;
  }
}

.rating-star {
  margin-right: 3px;
  display: flex;
  &.active {
    svg {
      fill: $dark-gray;
    }
  }
}

.add-photos {
  display: flex;
  align-items: center;
  @include bp(xs) {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  > span {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.03em;
    color: $dark-gray;
    margin-right: 40px;
    @include bp(xs) {
      margin-right: 0;
      margin-bottom: 6px;
    }
  }
  input {
    display: none;
  }
}

.add-photos__btn {
  width: 136px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px dashed $black;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  margin-bottom: 0;
  letter-spacing: 0.03em;
  @include bp(xs) {
    width: 100%;
    font-size: 13px;
    line-height: 16px;
    height: 35px;
  }
}

.product-reviews__photos__wrapper {
  @include bp(xs) {
    width: calc(100vw - 15px);
    overflow-x: auto;
  }
}

.product-reviews__photos {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px 80px;
  @include bp(xs) {
    flex-wrap: nowrap;
    margin-bottom: 27px;
  }
  .col {
    padding: 0 5px;
    width: 25%;
    height: 490px;
    margin-bottom: 10px;
    @include bp(xxl) {
      height: calc(34.5vw - 10px);
    }
    @include bp(xs) {
      width: 64vw;
      min-width: 64vw;
      height: calc(97vw - 10px);
      margin-bottom: 0;
    }
    picture {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

.product-reviews__rating {
  margin-bottom: 50px;
  @include bp(xs) {
    margin-bottom: 32px;
  }
}

.product-reviews__item {
  letter-spacing: 0.03em;
  &.item-review {
    margin-bottom: 40px;
    @include bp(xs) {
      margin-bottom: 30px;
    }
  }
  &.item-answer {
    padding-left: 64px;
    margin-top: 24px;
    @include bp(xs) {
      padding-left: 24px;
    }
  }
  &-name {
    font-family: $CormorantSC;
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 19px;
  }
  &-text {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 10px;
    color: $dark-gray;
    @include bp(xs) {
      font-size: 12px;
      line-height: 15px;
      margin-bottom: 15px;
    }
    p {
      margin-bottom: 0;
    }
  }
  &-date {
    display: block;
    font-size: 12px;
    line-height: 15px;
    color: $gray;
  }
}

.product-sizes__fitting {
  padding-top: 70px;
  @include bp(xs) {
    padding-top: 40px;
  }
}

.product-sizes__fitting-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: block;
  margin-bottom: 5px;
}

.product-sizes__fitting-btn {
  text-align: center;
  cursor: pointer;
  margin-bottom: 35px;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  &.active {
    text-decoration: none;
  }
}

.product-sizes__fitting-guide {
  margin-bottom: 35px;
  display: none;
  > span {
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 30px;
    letter-spacing: 0.03em;
  }
  .product-pic {
    width: 440px;
    height: 646px;
    margin: 0 auto;
    @include bp(xs) {
      width: 100%;
      height: calc(137vw - 30px);
    }
  }
}

.product-sizes__fitting-block {
  margin-bottom: 55px;
  @include bp(xs) {
    margin-bottom: 30px;
  }
  > div {
    width: 240px;
    height: 160px;
    margin: 0 auto 20px;
    @include bp(xs) {
      margin-bottom: 15px;
    }
    picture {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  > span {
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.03em;
    & strong {
      font-weight: 500;
    }
  }
}
