.thx-section {
  padding: 20px 0 45px;
  letter-spacing: 0.03em;
  @include bp(xs) {
    padding: 35px 10px;
  }
  span {
    display: block;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    text-transform: uppercase;
    margin-bottom: 15px;
    @include bp(xs) {
      font-size: 16px;
      line-height: 20px;
    }
  }
  p {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 22px;
    @include bp(xs) {
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 20px;
    }
    &:last-child {
      @include bp(xs) {
        margin-bottom: 0;
      }
    }
    a {
      text-decoration: underline;
      color: $black;
      &:hover {
        color: $gray;
        text-decoration: none;
      }
    }
  }
}

.services-section {
  margin-bottom: 140px;
  letter-spacing: 0.03em;
  @include bp(xs) {
    margin-bottom: 40px;
    background: $bg-gray;
  }
}

.services-main {
  background: $bg-gray;
  padding: 70px 60px 60px;
  @include bp(xs) {
    padding: 0;
    background: transparent;
  }
}

.services-title {
  display: block;
  font-family: $CormorantSC;
  text-align: center;
  margin-bottom: 70px;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  position: relative;
  @include bp(xs) {
    margin-bottom: 0;
    padding: 24px 0;
    font-size: 18px;
    line-height: 22px;
  }
  &.active {
    &:after {
      @include bp(xs) {
        display: block;
      }
    }
  }
  &:before {
    position: absolute;
    content: "";
    width: 9px;
    height: 1px;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    background: $gray;
    display: none;
    @include bp(xs) {
      display: block;
    }
  }
  &:after {
    position: absolute;
    content: "";
    width: 1px;
    height: 9px;
    right: 19px;
    top: 50%;
    transform: translateY(-50%);
    background: $gray;
    display: none;
  }
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  max-width: 100%;
  margin: 0 auto;
  font-size: 16px;
  line-height: 19px;
  font-family: $CormorantSC;
  text-transform: uppercase;
  @include bp(xs) {
    font-size: 14px;
    line-height: 17px;
    padding: 10px 10px 36px;
  }
  &.active {
    @include bp(xs) {
      display: none;
    }
  }
  > span {
    width: 33.33333%;
    padding-left: 14px;
    padding-right: 20px;
    margin-bottom: 30px;
    position: relative;
    @include bp(xl) {
      width: 50%;
    }
    @include bp(xs) {
      width: 100%;
      margin-bottom: 24px;
    }
    &:before {
      position: absolute;
      content: "";
      left: 0;
      top: 7px;
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background-color: $black;
    }
    a {
      color: $black;
      text-decoration: underline;
      &:hover {
        color: $gray;
        text-decoration: none;
      }
    }
  }
}

.special-section {
  margin-bottom: 115px;
  letter-spacing: 0.03em;
  @include bp(xs) {
    margin-bottom: 55px;
  }
  + .gallery-section {
    @include bp(xs) {
      margin-bottom: 35px;
    }
  }
}

.special-title {
  display: block;
  font-size: 24px;
  line-height: 29px;
  font-family: $CormorantSC;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 42px;
  @include bp(xs) {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
  }
}

.special-item {
  @include bp(xs) {
    background: $bg-gray;
    margin: 0 -15px;
    padding: 0 15px;
  }
  + .special-item {
    margin-top: 90px;
    @include bp(xs) {
      margin-top: 50px;
    }
  }
  &.reverse {
    .special-top,
    .special-bot {
      flex-direction: row-reverse;
      @include bp(xl) {
        flex-direction: column;
      }
    }
  }
  &.active {
    @include bp(xs) {
      padding-bottom: 25px;
    }
    .special-text__body {
      @include bp(xs) {
        display: none;
      }
    }
    .special-bot {
      @include bp(xs) {
        display: none;
      }
    }
  }
}

.special-top {
  display: flex;
  background-color: $bg-gray;
  @include bp(xl) {
    flex-direction: column;
  }
  @include bp(xs) {
    background-color: transparent;
  }
}

.special-pic {
  width: 810px;
  height: inherit;
  @include bp(xl) {
    width: 100%;
    height: auto;
  }
  @include bp(xs) {
    margin-bottom: 25px;
  }
  picture {
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.special-text {
  width: calc(100% - 810px);
  padding: 36px;
  @include bp(xl) {
    width: 100%;
  }
  @include bp(xs) {
    padding: 0;
  }
}

.special-text__title {
  max-width: 450px;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  display: block;
  font-family: $CormorantSC;
  margin: 0 auto 30px;
  position: relative;
  @include bp(xs) {
    font-size: 18px;
    line-height: 22px;
    max-width: 350px;
    padding: 15px 0;
    margin-bottom: 0;
  }
  &.title-short {
    max-width: 350px;
  }
  &:before {
    position: absolute;
    content: "";
    width: 9px;
    height: 1px;
    right: 5px;
    bottom: 25px;
    background: $gray;
    display: none;
    @include bp(xs) {
      display: block;
    }
  }
  &:after {
    position: absolute;
    content: "";
    width: 1px;
    height: 9px;
    right: 9px;
    bottom: 21px;
    background: $gray;
    display: none;
  }
  &.active {
    &:after {
      @include bp(xs) {
        display: block;
      }
    }
  }
}

.special-text__body {
  @include bp(xs) {
    padding: 15px 0;
  }
}

.special-text__list {
  width: 386px;
  max-width: 100%;
  margin: 0 auto;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  font-family: $CormorantSC;
  @include bp(xs) {
    font-size: 14px;
    line-height: 17px;
  }
  li {
    display: flex;
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
    svg {
      min-width: 16px;
      margin-right: 20px;
      @include bp(xs) {
        margin-right: 10px;
      }
    }
  }
}

.special-text__footnote {
  font-size: 12px;
  line-height: 15px;
  width: 386px;
  max-width: 100%;
  margin: 58px auto 0;
  color: $dark-gray;
  @include bp(xs) {
    margin-top: 35px;
  }
  p {
    margin-bottom: 6px;
  }
}

.special-text__footnote-price {
  font-size: 12px;
  line-height: 15px;
  width: 386px;
  max-width: 100%;
  margin: 18px auto 0;
  padding-left: 142px;
  color: $dark-gray;
  @include bp(xs) {
    padding-left: 60px;
  }
  p {
    margin-bottom: 2px;
  }
}

.special-text__footnote-price__lg {
  width: 386px;
  max-width: 100%;
  font-size: 14px;
  line-height: 17px;
  margin: 36px auto 0;
  span {
    display: block;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  p {
    margin-bottom: 7px;
  }
}

.special-bot {
  display: flex;
  align-items: center;
  @include bp(xl) {
    flex-direction: column-reverse;
  }
  @include bp(xs) {
    padding-bottom: 35px;
  }
}

.special-bot__left {
  width: 810px;
  @include bp(xl) {
    width: 535px;
    max-width: 100%;
    margin: 30px auto 0;
  }
  @include bp(xs) {
    margin-top: 0;
  }
  > ul {
    padding: 28px 0;
    font-size: 14px;
    line-height: 17px;
    @include bp(xs) {
      padding: 3px 0 0;
      margin-bottom: 20px;
    }
    li {
      position: relative;
      padding-left: 20px;
      margin-bottom: 10px;
      &:before {
        position: absolute;
        content: "";
        left: 7px;
        top: 8px;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: $black;
      }
    }
  }
  > a {
    padding: 0 16px;
    width: 535px;
    max-width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid $black;
    color: $black;
    text-decoration: none;
    @include bp(xs) {
      display: block;
      padding: 15px 10px;
      font-size: 16px;
      line-height: 20px;
      height: auto;
    }
    &:hover {
      color: #fff;
      text-decoration: none;
      background-color: $black;
    }
  }
}

.special-bot__right {
  width: calc(100% - 810px);
  padding: 0 20px;
  @include bp(xl) {
    width: 100%;
  }
  @include bp(xs) {
    padding: 15px 0;
  }
  > span {
    display: block;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    font-family: $CormorantSC;
    text-align: center;
    margin: 0 auto;
    @include bp(xs) {
      font-size: 14px;
      line-height: 17px;
    }
    &.short {
      width: 350px;
      max-width: 100%;
    }
  }
}
