<header class="header simple">
  <div class="header-left">
    <a href="javascript:void(0)" class="header-logo">
      <img src="../../images/logo.png" alt="">
    </a>
  </div>
  <div class="header-right">
    <div class="header-top">
    </div>
  </div>
</header>
<header class="mobile-header simple">

  <div class="container">
    <div class="mobile-header__wrapper">
      <a href="javascript:void(0)" class="mobile-logo">
        <img src="../../images/logo-mob.png" alt="">
      </a>
    </div>
  </div>
</header>
